:host {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

a.path:not(:last-child)::after{
  content: " ❯ ";
  display: inline-block;
  text-decoration: none;
  white-space: pre;
}

a:hover {
  text-decoration: underline;
}
