<ng-container *ngFor="let valueItem of valueItems; let $index = index">
    <ol class="breadcrumb" *ngIf="!!valueItem.parts && valueItem.parts.length > 0">
        <li *ngFor="let part of valueItem.parts; let $subIndex = index" sqPopper
            [target]="popoverTemplate || actions?.length ? popover : undefined" placement="top"
            (shown)="selectItem(valueItem, $subIndex)">
            <span class="sq-metadata-item {{'sq-metadata-item-' + item}} {{itemClass}}"
                [style.background-color]="showFiltersHighlights && part.filtered ? 'yellow': showFiltersHighlights && part.excluded ? 'red' : undefined">
                {{part | sqValue:column}}
            </span>
            <span *ngIf="$subIndex < valueItem.parts.length - 1" class="sq-metadata-item-tree-node-separator">
                {{'msg#metadata.item.treeNodeSeparator' | sqMessage}}
            </span>

            <div #popover [hidden]="!popoverTemplate && !actions?.length">
                <sq-metadata-popover [popoverTemplate]="popoverTemplate" [actions]="actions"
                    [actionsButtonsStyle]="actionsButtonsStyle" [actionsButtonsSize]="actionsButtonsSize"
                    [popoverLinesNumber]="popoverLinesNumber"></sq-metadata-popover>
            </div>
        </li>
    </ol>
    <span *ngIf="$index < valueItems.length - 1" class="sq-metadata-item-tree-separator">
        {{'msg#metadata.item.treeSeparator' | sqMessage}}
    </span>
</ng-container>