<ng-container *ngFor="let valueItem of valueItems; let $index = index">
    <ol class="breadcrumb" *ngIf="!!valueItem.parts && valueItem.parts.length > 0">
        <li *ngFor="let part of valueItem.parts; let $subIndex = index" sqPopper
            [target]="entityTemplate || actions?.length ? tooltip : undefined" placement="top"
            (shown)="openedPopper(valueItem, $subIndex)">
            <span class="sq-metadata-item {{'sq-metadata-item-' + config.item}} {{config.itemClass}}"
                [style.color]="color"
                [style.background-color]="showFiltersHighlights && part.filtered ? 'yellow': showFiltersHighlights && part.excluded ? 'red' : bgColor">
                {{part | sqValue:column}}
            </span>
            <span *ngIf="$subIndex < valueItem.parts.length - 1" class="sq-metadata-item-tree-node-separator">
                {{'msg#metadata.item.treeNodeSeparator' | sqMessage}}
            </span>

            <div #tooltip [hidden]="!entityTemplate && !actions?.length">
                <sq-metadata-tooltip [loading]="loading" [entityTemplate]="entityTemplate" [actions]="actions"
                    [actionsButtonsStyle]="actionsButtonsStyle" [actionsButtonsSize]="actionsButtonsSize"
                    [tooltipLinesNumber]="tooltipLinesNumber"></sq-metadata-tooltip>
            </div>
        </li>
    </ol>
    <span *ngIf="$index < valueItems.length - 1" class="sq-metadata-item-tree-separator">
        {{'msg#metadata.item.treeSeparator' | sqMessage}}
    </span>
</ng-container>