<h1>Advanced Module</h1>

<div class="row">
    <div class="col-12 mb-4">
        <app-advanced-form-checkbox></app-advanced-form-checkbox>
    </div>
    <div class="col-12 mb-4">
        <app-advanced-form-input></app-advanced-form-input>
    </div>
    <div class="col-12 mb-4">
        <app-advanced-form-multi-input></app-advanced-form-multi-input>
    </div>
    <div class="col-12 mb-4">
        <app-advanced-form-range></app-advanced-form-range>
    </div>
    <div class="col-12 mb-4">
        <app-advanced-form-select></app-advanced-form-select>
    </div>
    <div class="col-12 mb-4">
        <app-date-picker></app-date-picker>
    </div>
    <div class="col-12 mb-4">
        <app-date-range-picker></app-date-range-picker>
    </div>
    <div class="col-12 mb-4">
        <app-select></app-select>
    </div>
</div>