fusioncharts.clickable ::ng-deep {
    g[class$="plots"] path {
        cursor: pointer;
    }

    g[class$="datalabel"] text {
        cursor: pointer;
    }
}

fusioncharts ::ng-deep {
    g[class$="datalabel"] text {
        display: var(--display) !important;
    }
}
