:host {
  position: relative;
  display: block;
}

.search-dropdown {
  padding: 0.75rem;
  max-height: 400px;
  overflow-y: auto;
}

sq-autocomplete {
  display: block;
  margin: 0 -0.75rem;
}

sq-facet-container ::ng-deep .list-group {
  margin: 0 -0.75rem;
}

sq-filters-view ::ng-deep .sq-simple-mode {
  & > span {
    float: right; // Move the clear/edit buttons to the right
  }

  &::after { // Clearfix for the float: right above (when the sq-filters takes too much space)
    content: "";
    clear: both;
    display: table;
  }
}
