:host {
  position: relative;
  display: block;
}

.search-dropdown {
  padding: 0.75rem;
  max-height: 400px;
  overflow-y: auto;
}

sq-autocomplete {
  display: block;
  margin: 0 -0.75rem;
}

sq-facet-container ::ng-deep .list-group {
  margin: 0 -0.75rem;
}
