<sq-search-form #searchForm [query]="searchService.query" [showFilterCount]="true">

  <ng-template let-query>

    <div class="search-dropdown border-top mb-3">

      <div class="small fw-bold mb-1" *ngIf="query?.filters">
        {{'msg#searchForm.currentFilters' | sqMessage}}
      </div>

      <sq-filters-view
        [query]="query"
        (filterEdit)="onFiltersChange()">
      </sq-filters-view>

      <hr *ngIf="query?.filters && facets?.length"/>

      <sq-facet-container *ngIf="facets?.length"
        [results]="searchService.results"
        [query]="query"
        [facetConfigs]="facets"
        [facetComponents]="facetComponents">
      </sq-facet-container>

      <hr *ngIf="query.text" />

      <sq-autocomplete
        [inputElement]="searchForm.searchInput.nativeElement"
        [queryText]="query.text || ''"
        [suggestTypes]="autocompleteSources"
        (search)="onAutocompleteSearch($event, query)">
      </sq-autocomplete>

    </div>

  </ng-template>

</sq-search-form>
