
// results heatmap view
sq-results-heatmap-view {
    display: block;
    overflow-x: auto;
}

// Generate heatmap tile color classes: 0 -> n-1
@for $i from 1 through length($sq-heatmap-tile-colors) {
    .sq-heatmap-tile-color-#{$i - 1} {
        fill: nth($sq-heatmap-tile-colors, $i);
    }
    
    @keyframes sq-heatmap-tile-fadein-#{$i - 1} {
        from { fill: nth($sq-heatmap-tile-colors, 1) }
        to { fill: nth($sq-heatmap-tile-colors, $i) }
    }

    .sq-heatmap-tile-fadein-#{$i - 1} {
        animation: sq-heatmap-tile-fadein-#{$i - 1} 1s ease-in;
        fill: nth($sq-heatmap-tile-colors, $i);
    }
}

.sq-heatmap-tile {
    stroke: $sq-heatmap-tile-stroke-color;
    stroke-width: 2px;
    
    &:hover {
        cursor: pointer;
        transition: fill .2s ease-in;
        fill: $sq-heatmap-tile-hover-color !important;
    }
}

.sq-heatmap-x-label {
    font-size: 8pt;
    fill: $sq-heatmap-legend-x-label-color;
    text-anchor: start;
}

.sq-heatmap-y-label {
    font-size: 8pt;
    fill: $sq-heatmap-legend-y-label-color;
    text-anchor: end;
}

.sq-heatmap-legend-text {
    font-size: 8pt;
    fill: $sq-heatmap-legend-text-color;
}
