:host {
    display: block;
    position: absolute;			
    text-align: center;				
    padding: .125rem;				
    font: .75rem sans-serif;		
    background: lightsteelblue;	
    border: 0;		
    border-radius: .5rem;			
    pointer-events: none;
}

.sq-heatmap-tooltip-title {
    font-weight: 800; 
}