<ng-container *ngFor="let valueItem of valueItems; let $index = index">
    <ol class="breadcrumb" *ngIf="!!valueItem.parts && valueItem.parts.length > 0">
        <li *ngFor="let part of valueItem.parts; let $subIndex = index" sqPopper
            [target]="clickable ? tooltip : undefined" placement="top">
            <span [class.clickable]="clickable" [ngClass]="'sq-metadata-item-' + config.item"
                [style.background-color]="showFiltersHighlights && part.filtered ? 'yellow': showFiltersHighlights && part.excluded ? 'red' : 'transparent'">
                {{part | sqValue:column}}
            </span>
            <span *ngIf="$subIndex < valueItem.parts.length - 1" class="sq-metadata-item-tree-node-separator">
                {{'msg#metadata.item.treeNodeSeparator' | sqMessage}}
            </span>
            <div class="btn-group sq-metadata-btn" #tooltip>
                <button class="btn btn-primary" *ngIf="config.filterable" (click)="filterItem(valueItem, $subIndex)">
                    <span class="fas fa-filter"></span> Filter
                </button>
                <button class="btn btn-primary" *ngIf="config.excludable" (click)="excludeItem(valueItem, $subIndex)">
                    <span class="fas fa-minus-circle"></span> Exclude
                </button>
            </div>
        </li>
    </ol>
    <span *ngIf="$index < valueItems.length - 1" class="sq-metadata-item-tree-separator">
        {{'msg#metadata.item.treeSeparator' | sqMessage}}
    </span>
</ng-container>