::ng-deep .sq-tooltip {
    padding: 0 !important;
}

.sq-metadata {
    display: flex;
    align-items: center;
    font-weight: normal;


}

.sq-metadata-item-label,
.clickable {
    font-weight: 600;
}

.sq-metadata-btn .btn {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .5rem;
}