<h1>Labels Module</h1>

<div class="row">
    <div class="col-12 mb-4">
        <app-labels-autocomplete></app-labels-autocomplete>
    </div>
    <div class="col-12 mb-4">
        <app-add-label></app-add-label>
    </div>
    <div class="col-12 mb-4">
        <app-delete-label></app-delete-label>
    </div>
    <div class="col-12 mb-4">
        <app-edit-label></app-edit-label>
    </div>
    <div class="col-12 mb-4">
        <app-labels-menu></app-labels-menu>
    </div>
    <div class="col-12 mb-4">
        <app-rename-label></app-rename-label>
    </div>
</div>