<h1>Baskets Module</h1>

<div class="row">
    <div class="col-12 mb-4">
        <app-baskets-menu></app-baskets-menu>
    </div>
    <div class="col-12 mb-4">
        <app-edit-basket></app-edit-basket>
    </div>
    <div class="col-12 mb-4">
        <app-facet-baskets></app-facet-baskets>
    </div>
    <div class="col-12 mb-4">
        <app-manage-baskets></app-manage-baskets>
    </div>
    <div class="col-12 mb-4">
        <app-result-baskets></app-result-baskets>
    </div>
    <div class="col-12 mb-4">
        <app-select-baskets></app-select-baskets>
    </div>
</div>