// The <input> is nested into a wrapper <div>
// styled with Bootstrap. The following
// make the input and wrapper look as if the <div>
// were the input.
.search-input {
    border: none;
    width: 100%;
}
.search-input:focus {
    outline: none;
}
.form-control:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control.is-invalid:focus-within {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.advanced-search {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin-bottom: 15px;
}
.btn-advanced-search {
  border: 1px solid #ced4da;
}
