// The <input> is nested into a wrapper <div>
// styled with Bootstrap. The following
// make the input and wrapper look as if the <div>
// were the input.
:host {
  width: 13em;
  border-radius: 0.25rem; // Necessary for the box-shadow to render properly
  box-shadow: 0px 4px 9px 0px rgba(0,0,0,.08);
}
.search-form-control {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.search-input {
    border: none;
    width: 100%;
    min-width: 100px;
}
.search-input:focus {
    outline: none;
}
.form-control:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    z-index: 3;
}
.form-control.is-invalid:focus-within {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.advanced-search {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin-bottom: 15px;
}
.light-green {
    color: #b1dfbb !important
}
.light-blue {
    color: #9fcdff !important;
}
.form-control {
  .btn-focus {
      display: none;
  }
  & ~ .btn-focus {
    display: none;
  }
}
.form-control:focus-within, .form-control:hover {
  .btn-focus {
      display: inline;
  }
}
.form-control:focus-within {
  & ~ .btn-focus {
    display: inline;
  }
}
