.sq-passage {
  display: flex;
}

.list-group {
  padding: .8rem 1.5rem;
}

.list-group-item {
  cursor: pointer;
  line-height: 1.2rem;
  font-size: 0.875em;
  font-weight: 400;
  white-space: break-spaces;
  padding: .4rem 0;

  &:hover {
    z-index: initial;
  }

  .sq-passage-icon {
    width: 1.25rem;

    &::before {
      // font-size: large;
      font-weight: bold;
      font-family: monospace;
      content: "+ ";
    }
  }

  .sq-passage-text {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;

    ::ng-deep .matchlocations {
      background-color: transparent !important;
      font-weight: 600;
    }
  }

  &.expanded {
    .sq-passage-icon::before {
      content: "- ";
    }

    .sq-passage-text {
      --line-clamp: 0;
    }
  }
}
