@use "sass:color";

sq-metadata-item .sq-metadata-item {

    a.badge {
        background-color: lightgrey;
        color: color.adjust(black, $lightness: 10%);

        &:hover, &:focus {
            background-color: color.adjust(lightgrey, $lightness: -10%);
            color: black;
        }
    }

}
