  .bar {
    /*fill: #bbb;*/
    shape-rendering: crispEdges;
  }
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  /*
  .y.axis path {
    display: none;
  }
  */
  .brush .extent {
      stroke: #fff;
      fill-opacity: 0.125;
      shape-rendering: crispEdges;
  }
  .flag rect {
      fill : #f7f3d9;
      stroke: #000;
      border-radius: 3px;
      z-index:10;
  }
  .select-style {
      /*border: 1px solid #ccc;
      border-radius: 3px;*/
      overflow: hidden;
  }
  .select-style select {
      padding: 2px 5px;
      border: none;
      box-shadow: none;
      background: transparent;
      background-image: none;
  }
  .select-style select:focus {
      outline: none;
  }