.sq-metadata-item-label {
    width: 1px;
    white-space: nowrap;
}

.sq-metadata-item-values {
    --max-height: 1000px;
    display: block;
    overflow: hidden;

    /* using var, animation can be played when collapsing and expanding */
    max-height: var(--max-height);
    transition: max-height 0.3s ease-in-out;

    & .breadcrumb {
        padding: 0;
        background-color: inherit;
        display: inline;

        > li {
            display: inline;
        }

        &:after {
            display: inline;
        }
    }

    .counter {
        padding-left: 5px;
        padding-right: 5px;
        font-size: .7rem;
    }

    // Collapsed behavior
    &.collapsed {
        --max-height: 26px;
    }

    .collapse-button {
        font-size: .9rem;
    }
}

.sq-metadata-item.sq-tabular {
    display: table-row;

    .sq-metadata-item-icon, .sq-metadata-item-label {
        display: table-cell;
    }
}

.sq-metadata-item:not(.sq-tabular) {
    display: inline;
    white-space: nowrap; // Avoid new line after the icon or label

    .sq-metadata-item-label, .sq-metadata-item-values {
        display: inline;
    }

    .sq-metadata-item-values {
        white-space: normal; // Wrap within the values instead
    }
}
