:host {
    /* fallback value */
    --scroll-height: 1000px;
    --has-count: -.1rem;
}
.sq-metadata-item-label {
    width: 1px;
    white-space: nowrap;
}

.sq-metadata-item-values {
    --max-height: var(--scroll-height);
    overflow: hidden;
    
    /* metadata item alignment */
    display: inline-flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
    gap: 2px;

    /* using var, animation can be played when collapsing and expanding */
    max-height: var(--max-height);
    transition: max-height 0.3s ease-in-out;

    & .breadcrumb {
        padding: 0;
        background-color: inherit;
        display: inline;

        > li {
            display: inline;
        }

        &:after {
            display: inline;
        }
    }

    .counter {
        padding-left: 4px;
        padding-right: 6px;
        font-size: .7rem;
    }

    // Collapsed behavior
    &.collapsed {
        /* adjust max height when count exists */
        --max-height: calc(1.45rem + var(--has-count));
    }
    
    .collapse-button {
        font-size: .9rem;
    }
}

.sq-metadata-item.sq-tabular {
    display: table-row;

    .sq-metadata-item-icon, .sq-metadata-item-label {
        display: table-cell;
    }
}

.sq-metadata-item:not(.sq-tabular) {
    display: inline;

    .sq-metadata-item-label, .sq-metadata-item-values {
        display: inline;
    }
}