<div *ngIf="comments" class="comments" [ngClass]="theme">
    <ng-container *ngTemplateOutlet="commentsTpl; context:{$implicit: comments}"></ng-container>

    <div *ngIf="comments.length === 0" class="fst-italic text-center my-4">
        {{ 'msg#comments.noComment' | sqMessage }}
    </div>

    <div>
        <button class="btn btn-primary d-block mx-auto mt-3" (click)="addComment()">
            <i class="fas fa-comment"></i>
            {{ 'msg#comments.write' | sqMessage }}
        </button>
    </div>
</div>

<div *ngIf="!comments">
    <div class="spinner-grow d-block mx-auto mt-4" role="status">
        <span class="visually-hidden">{{ 'msg#preview.loading' | sqMessage }}</span>
    </div>
</div>


<ng-template #commentsTpl let-comments>

    <ng-container *ngFor="let comment of comments">

        <div class="message ps-2 py-1 pe-2">
            <div class="mt-2 d-flex" [ngClass]="{'text-muted':comment.deleted}" (click)="comment.$collapsed = !comment.$collapsed">
                <i class="fas fa-user-circle me-1"></i>
                <span class="text-truncate small fw-bold me-2" *ngIf="!comment.deleted">{{comment.username}}</span>
                <span class="text-truncate small fw-bold me-2" *ngIf="comment.deleted">{{ 'msg#comments.deleted' | sqMessage }}</span>
                <span class="small text-muted ms-auto" [title]="comment | sqCreationDate">{{comment.modified | sqRelativeTime}}<ng-container *ngIf="comment.modified !== comment.creation">*</ng-container></span>
                <sq-collapse-button [collapsed]="comment.$collapsed" (state)="comment.$collapsed = $event" (click)="$event.stopPropagation()" class="ms-1 small"></sq-collapse-button>
            </div>

            <sq-collapse [collapsed]="comment.$collapsed">

                <ng-template>

                    <div class="message-body" *ngIf="!comment.deleted" [innerHTML]="comment.message | sqMarkdown"></div>
                    <div class="text-muted" *ngIf="comment.deleted">{{ 'msg#comments.deleted' | sqMessage }}</div>

                    <div class="d-flex justify-content-end">
                        <div class="btn-group" role="group" *ngIf="!comment.deleted" (click)="$event.stopPropagation()">
                            <button class="btn btn-sm" (click)="likeComment(comment)" [ngClass]="{'btn-success': comment.likedByUser, 'btn-outline-secondary': !comment.likedByUser}">
                                <i class="fas fa-thumbs-up"></i>
                                <span *ngIf="comment.likes > 0">&nbsp;{{comment.likes}}</span>
                                <span *ngIf="comment.likes === 0">&nbsp;{{ 'msg#comments.like' | sqMessage }}</span>
                            </button>
                            <button class="btn btn-sm btn-outline-secondary" (click)="addComment(comment)">
                                <i class="fas fa-reply"></i>
                                <span>&nbsp;{{ 'msg#comments.reply' | sqMessage }}</span>
                            </button>
                            <button class="btn btn-sm btn-outline-secondary" (click)="editComment(comment)" *ngIf="user?.userId === comment.userid || user?.isAdministrator">
                                <i class="fas fa-edit"></i>
                                <span>&nbsp;{{ 'msg#comments.edit' | sqMessage }}</span>
                            </button>
                            <button class="btn btn-sm btn-outline-secondary" (click)="deleteComment(comment)" *ngIf="user?.userId === comment.userid || user?.isAdministrator">
                                <i class="fas fa-trash-alt"></i>
                                <span>&nbsp;{{ 'msg#comments.delete' | sqMessage }}</span>
                            </button>
                        </div>
                    </div>

                </ng-template>

            </sq-collapse>
        </div>

        <div *ngIf="!comment.$collapsed && comment.subcomments" class="subcomments ms-2">
            <ng-container *ngTemplateOutlet="commentsTpl; context:{$implicit: comment.subcomments}"></ng-container>
        </div>

    </ng-container>

</ng-template>
