:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

nav .search-form-container {
    // to center the search input inside it's flex item
    position: relative;
    top: -20px;
}

.results-list {
    overflow-y: scroll;
    transition: margin-left .5s;

    &--hidden {
        margin-left: -33%;
        overflow-y: hidden;
    }
}

app-dashboard {
    &.expanded {
        width: 100%;
    }
}

// Styling of the result items
.record {
    cursor: pointer;

    &:hover {
        background-color: rgb(0,0,0,0.03);
    }

    &.selected {
        background-color: rgb(0,0,0,0.05);
    }
}

// Selection / Action bar on top of results (position: fixed)
.card-action-bar {
    bottom: 10px;
    margin-left: 15px;
    z-index: 4;
}
