:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.results-list {
    max-height: 100%;
    overflow-y: scroll;
    width: 33%;

    margin-left: 0px;
    transition: margin-left .5s;

    &--hidden {
        margin-left: -33%;
        overflow-y: hidden;
    }
}

app-dashboard {
    width: calc(100% - 33%);

    &.expanded {
        width: 100%;
    }
}

#logo {
    height: 40px;
}

.sq-toolbar {
    margin: 0.625rem 0;
}

// Styling of the result items
.record {

    &:hover {
        background-color: rgb(0,0,0,0.03);
    }

    &.selected {
        background-color: rgb(0,0,0,0.05);
    }

    padding: 0.5em 15px;
    margin: 0 -15px;
    cursor: pointer;
}

// Selection / Action bar on top of results (position: fixed)
.card.action-bar {
    bottom: 10px;
    z-index: 4;
}
