:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

.main-content {
    overflow-y: hidden;
}

.results-list {
    max-height: 100%;
    overflow-y: scroll;
    width: 33%;
    
    margin-left: 0px;
    transition: margin-left .5s;

    &--hidden {
        margin-left: -33%;
        overflow-y: hidden;
    }
}

.toggle-results {
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    opacity: 0.5;
    top: 3px;

    left: calc(33% - 32px);
    transition: left .5s,  opacity .5s;

    &:hover {
        opacity: 1;
    }

    &.collapsed {
        opacity: 1;
        left: 5px;
        z-index: 999;
    }

    & > i {
        background: white;
        border-radius: 10px;
    }
}

.dashboard-container {
    width: calc(100% - 33%);

    &--expanded {
        width: 100% !important;
    }
}

#logo {
    height: 30px;
}

h1 {
    color: #e64b30;
    font-weight: bold;
}

// Styling of the result items
.record {

    &:hover {
        background-color: rgb(0,0,0,0.03);
    }

    &.selected {
        background-color: rgb(0,0,0,0.05);
    }

    padding: 0.5em 15px;
    margin: 0 -15px;
    cursor: pointer;

    sq-result-source {
        display: grid;
    }

    sq-result-thumbnail {
        margin-left: 1em;
    }
}

.full-width {
    flex-basis: 100%;
}

// Selection / Action bar on top of results (position: fixed)
.card.action-bar {
    bottom: 10px;
    z-index: 4;
}

nav {
    z-index: 2;
}

// Dashboard (Gridster)
gridster {
    background: transparent !important;
    z-index: 1;
}

// Active when resizing or dragging items: prevents a glitch when the mouse pointer hovers the preview's iframe
gridster.display-grid {
    ::ng-deep iframe {
        pointer-events: none !important;
    }

    ::ng-deep iframe {
        pointer-events: none !important;
    }
}

gridster-item {
    border-radius: 0.25em;
    overflow: initial;
}

gridster-item.gridster-item-moving {
    z-index: 100 !important;
}

gridster-item.gridster-item-resizing {
    overflow: hidden;
}

// always display gridster-item buttons while
// focused
gridster-item[focus="true"] {
    z-index: 90 !important;
    button {
        visibility: visible;
    }
}
