<!-- Message icon -->
<span class="me-3" [title]="message.role" [ngSwitch]="message.role">
  <i class="fas fa-2x fa-user-circle text-muted" *ngSwitchCase="'user'"></i>
  <i [ngClass]="assistantIcon" [style.--sq-size.px]="28" *ngSwitchCase="'assistant'"></i>
</span>

<!-- Message body -->
<div class="flex-grow-1" style="min-width: 0;">

  <remark *ngIf="message.role === 'assistant'; else plainTextTpl" class="message-content" [markdown]="message.content" [processor]="processor">

    <ng-template remarkTemplate="chat-reference" let-ref>
      <a *ngIf="referenceMap.get(ref.refId) as attachment"
        [href]="attachment.$record.url1 || attachment.$record.originalUrl || '#'"
        class="reference"
        [sqTooltip]="attachment.chunks[0].text | slice:0:100">{{ref.refId}}</a>
    </ng-template>

    <ng-template remarkTemplate="streaming-placeholder">
      <span class="placeholder-glow" *ngIf="streaming">
        <span class="placeholder ms-1"></span>
      </span>
    </ng-template>

  </remark>

  <ng-template #plainTextTpl>
    <div class="message-content">{{message.content}}</div>
  </ng-template>

  <!-- Edit / Regenerate floating actions -->
  <div class="sq-chat-message-action" *ngIf="!streaming">
    <button class="btn btn-sm btn-light shadow mt-1 me-1" *ngIf="canEdit" sqTooltip="Edit message"
            (click)="edit.emit(message)">
      <i class="fas fa-edit"></i>
    </button>
    <button class="btn btn-sm btn-light shadow mt-1 me-1" *ngIf="canRegenerate" sqTooltip="Regenerate message"
            (click)="regenerate.emit(message)">
      <i class="fas fa-sync-alt"></i>
    </button>
  </div>

  <!-- List of reference, if any -->
  <div *ngIf="references?.length" class="references small">
    <b>References:</b>
    <ul class="list-group">
      <ng-container *ngFor="let reference of references">
        <li *ngIf="referenceMap.get(reference) as attachment" class="text-truncate" [title]="attachment.$record.title">
          <span class="reference me-1">{{reference}}</span>
          <a [href]="attachment.$record.url1 || attachment.$record.originalUrl || '#'"
            target="_blank"
            (click)="onReferenceClicked(attachment.$record, $event)">
            {{attachment.$record.title}}
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<!-- Message actions (optional) -->
<div [sq-action-buttons]="{items: message.$actions, style: 'link', size: 'sm', rightAligned: true}" *ngIf="message.$actions"></div>
