
<div *ngIf="messages$ | async as messages; else loadingTpl || loadingTplDefault" class="h-100 d-flex flex-column">

  <ul class="list-group list-group-flush overflow-auto pb-5" #messageList>
    <ng-container *ngFor="let message of messages; let index = index; let last = last">
      <!-- Regular messages -->
      <li class="list-group-item" *ngIf="message.display && !message.$attachment"
          [class.opacity-50]="messageToEdit && messageToEdit < index + 1">
        <sq-chat-message
          [message]="message"
          [conversation]="messages"
          [assistantIcon]="customAssistantIcon || modelAssistantIcon"
          [streaming]="last && streaming"
          [canEdit]="(loading | async) === false && !streaming && messageToEdit === undefined && message.role !== 'assistant'"
          [canRegenerate]="(loading | async) === false && !streaming && messageToEdit === undefined && message.role === 'assistant'"
          (edit)="editMessage(index)" (regenerate)="regenerateMessage(index)"
          (referenceClicked)="referenceClicked.emit($event)"
          (openPreview)="openPreview.emit($event)">
        </sq-chat-message>
      </li>
      <!-- Attachment messages -->
      <li *ngIf="message.display && message.$attachment"
        class="attachment list-group-item d-flex"
        [ngClass]="{expanded: message.$attachment.$expanded}">
        <ng-container *ngTemplateOutlet="attachmentTpl; context:{$implicit:message.$attachment}"></ng-container>
      </li>
    </ng-container>

    <li class="list-group-item" *ngIf="loading | async">
      <ng-container *ngTemplateOutlet="loadingTpl || loadingTplDefault"></ng-container>
    </li>
  </ul>

  <div class="user-input mt-auto" *ngIf="enableChat">
    <div class="progress" [ngClass]="{disabled: tokensPercentage >= 100 || chatService.quotaPercentage >= 100}">
      <div role="progressbar" class="progress-bar"
        [ngStyle]="{'width.%': (chatService.quotaPercentage >= 100? 100 : tokensPercentage)}"
        title="Tokens used {{tokensAbsolute}}/{{tokensModel - maxTokens}} (quota: {{chatService.quotaPercentage}}%)">
        {{
          tokensPercentage >= 100? 'Maximum number of tokens reached, reset the chat or remove attachments' :
          chatService.quotaPercentage >= 100? 'You reached your maximum usage quota. Try again '+(chatService.quota!.nextResetUTC | sqRelativeTime) : ''
        }}
      </div>
    </div>
    <div class="py-2">
      <ng-container *ngIf="textBeforeAttachments">
        <ng-container *ngTemplateOutlet="inputTpl"></ng-container>
        <ng-container *ngTemplateOutlet="attachmentListTpl"></ng-container>
      </ng-container>

      <ng-container *ngIf="!textBeforeAttachments">
        <ng-container *ngTemplateOutlet="attachmentListTpl"></ng-container>
        <ng-container *ngTemplateOutlet="inputTpl"></ng-container>
      </ng-container>

      <div class="text-end small text-muted px-3" *ngIf="showCredits">
        powered by {{modelDescription?.displayName}} <ng-container *ngIf="privacyUrl"> - <a [href]="privacyUrl" target="_blank">privacy notice</a></ng-container>
      </div>
    </div>
  </div>
</div>


<!-- NG TEMPLATES-->

<ng-template #loadingTplDefault>
  <div class="spinner-grow text-success d-block mx-auto my-5" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

<ng-template #inputTpl>
  <div class="d-flex position-relative align-items-center px-3 py-1">
    <span class="me-3">
      <i class="fas fa-2x fa-user-circle text-muted"></i>
    </span>
    <input #questionInput
      type="search" class="form-control rounded-5 px-3"
      placeholder="Your response" autofocus
      [(ngModel)]="question"
      (ngModelChange)="updateTokensPercentage()"
      (keyup.enter)="submitQuestion()"
      (keyup.shift.enter)="submitQuestion()"
      (keydown.tab)="searchAttachments($event)"
      [disabled]="(loading | async) || streaming || loadingAttachments || tokensPercentage >= 100 || chatService.quotaPercentage >= 100">
    <a *ngIf="searchMode" role="button" [ngClass]="{disabled: !question}" class="ms-3 mb-0 text-nowrap" (click)="searchAttachments()" sqTooltip="Search Before Chat" placement="top">
      <img src="assets/sinequa-logo-light-lg.png" alt="sinequa logo" width="120px">
    </a>
    <button class="btn btn-secondary ms-2" *ngIf="messageToEdit !== undefined" sqTooltip="Cancel edition"
            (click)="messageToEdit = undefined; question = ''">
      Cancel
    </button>
    <div class="sq-stop-generating" *ngIf="streaming">
      <button class="btn btn-sm btn-outline-secondary shadow" (click)="terminateFetch()">
        <i class="fas fa-stop me-1"></i> Stop generating
      </button>
    </div>
  </div>
</ng-template>

<ng-template #attachmentTpl let-attachment>
  <span class="px-2 me-3" title="Attachments">
    <i class="fas fa-paperclip text-muted"></i>
  </span>

  <p class="flex-grow-1 mb-0" role="button" (click)="attachment.$expanded = !attachment.$expanded">
    <span>
      <i class="fas fa-fw fa-caret-{{attachment.$expanded? 'down' : 'right'}} pe-1"></i>
      <b>{{attachment.$record?.title}}: </b>
      <ng-container *ngIf="!attachment.$expanded">
        <span *ngFor="let c of attachment.chunks">{{c.text}}</span>
      </ng-container>
      <ul class="list-group list-group-flush no-max-height" *ngIf="attachment.$expanded">
        <li class="list-group-item attachment" *ngFor="let c of attachment.chunks">
          <p class="m-0" [title]="c.text">{{c.text}}</p>
        </li>
      </ul>
    </span>
  </p>
</ng-template>

<ng-template #attachmentListTpl>
  <ng-container *ngIf="loadingAttachments" [ngTemplateOutlet]="loadingTpl || loadingTplDefault"></ng-container>

  <ul class="list-group list-group-flush overflow-auto" *ngIf="chatService.attachments$ | async as attachments">

    <li *ngFor="let attachment of attachments"
      class="attachment list-group-item d-flex"
      [ngClass]="{expanded: attachment.$expanded}">

      <ng-container *ngTemplateOutlet="attachmentTpl; context:{$implicit:attachment}"></ng-container>

      <div class="ms-3 col-1 small text-muted d-flex flex-column align-items-center" *ngIf="!loading">
        <span title="Number of tokens">{{attachment.$tokenCount}}</span>
        <button class="btn btn-sm btn-link px-1 py-0" sqTooltip="More tokens" (click)="chatService.increaseChunksSync(attachment)">
          <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-sm btn-link py-0" sqTooltip="Remove" (click)="chatService.removeAttachment(attachment)">
          <i class="fas fa-trash"></i>
        </button>
      </div>

    </li>
  </ul>
</ng-template>
