/****************************************************
    Colors overrides
****************************************************/
$secondary: #515960;
$link-decoration: none;

// Sinequa global theme (contains Bootstrap imports)
// @import "../../../components/theme/minimal";
@import "../../../components/theme/sinequa";


// Vis.js styles
//@import "vis-timeline/dist/vis-timeline-graph2d.min";
@import "vis-network/dist/dist/vis-network.min";


// By default we now reference the Vanilla Search icons.scss stylesheet,
// to avoid duplicating the same code.
// Feel free to copy the stylesheet into this project, to avoid having
// to modifying it in the Vanilla Search project.
@import "../../../vanilla-search/src/styles/icons";


// Preview stylings (incl. entity highlights & metadata)
@import "preview";
// override preview .matchlocations properties now that the <b> we used to have for them
// are now with this class
span.matchlocations:not(.sq-inactive) {
    font-weight: 600;
    color: inherit !important;
    background-color: transparent !important;
}

// light and dark theme
@import "pepper";
