
// DARK MODE

// By default we now reference the Vanilla Search dark-mode.scss stylesheet,
// to avoid duplicating the same code.
// Feel free to copy the stylesheet into this project, to avoid having
// to modifying it in the Vanilla Search project.
@import "../../../vanilla-search/src/styles/dark-mode.scss";

// Additions specific to Pepper
body.dark {
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; 
    }

    sq-network {
        .vis-button {
            background-color: #aaa;
        }
    }
    
    sq-theme-toggle {
        color: $dark-secondary;
    }

    .toggle-results > i {
        background: $dark-background !important;
    }

    sq-facet-filters {
        sq-action-item-content > .filtered {
            color: $dark-color !important;
        }
    }

}