
// DARK MODE

// By default we now reference the Vanilla Search dark-mode.scss stylesheet,
// to avoid duplicating the same code.
// Feel free to copy the stylesheet into this project, to avoid having
// to modifying it in the Vanilla Search project.
@import "../../../vanilla-search/src/styles/dark-mode.scss";

// Additions specific to Pepper
body.dark {

    sq-facet-container [class*="btn-outline-"] {
        --bs-btn-bg: rgb(255 255 255 / 90%);
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    sq-network {
        .vis-button {
            background-color: #aaa;
        }
    }

    .toggle-results > i {
        background: $dark-background !important;
    }

}
