.sq-metadata-item:not(.clickable),
::ng-deep .sq-metadata-item-treepath:not(.clickable) {
    font-weight: normal;
}

.clickable {
    cursor: pointer;
}

.sq-metadata-btn .btn {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .5rem;
}

.collapsable {
    display: block !important;
    overflow: hidden;
}