<form novalidate [formGroup]="form">
    <sq-modal
        [title]="'msg#modal.login.title'"
        [buttons]="buttons">
        <mat-form-field>
            <input matInput placeholder="{{'msg#modal.login.userName' | sqMessage}}" formControlName="userName">
            <mat-error>{{form.get("userName")?.errors | sqValidationError}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="{{'msg#modal.login.password' | sqMessage}}" formControlName="password">
            <mat-error>{{form.get("password")?.errors | sqValidationError}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!!providers">
            <mat-label>{{'msg#modal.login.singleSignOn' | sqMessage}}</mat-label>
            <mat-select formControlName="providerName" (selectionChange)="authenticate()">
                <mat-option *ngFor="let provider of providers" [value]="provider.name">{{(provider.displayName || provider.name) | sqMessage}}</mat-option>
            </mat-select>
        </mat-form-field>
    </sq-modal>
</form>