.sq-modal-wrapper {
    height: 100%;
}

.sq-modal .mat-form-field {
    display: block;
    width: 100%;
}

$fullscreen-padding: 30px;

.sq-modal-fullscreen {
    width: calc(100% - #{2 * $fullscreen-padding});
    height: calc(100% - #{2 * $fullscreen-padding});

    .mat-dialog-content {
        max-height: none;
    }
}
