@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

@import "../../../../components/theme/breakpoints";

#logo {
  content: url("^assets/iRIS-transparent-lrg.png");
}
#logo-sm {
  content: url("^assets/iRIS-transparent-small.png");
}

:host-context(body.dark) {
  #logo {
    content: url("^assets/iRIS-transparent-lrg.png");
  }
  #logo-sm {
    content: url("^assets/iRIS-transparent-small.png");
  }
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--bs-gray-300);

  .side-menu {
    padding-right: 0;
    background-color: white;
    z-index: 9;
    flex-direction: column;

    img {
      height: 2.5rem;
      display: block;
      margin: auto;
    }

    sq-tabs {
      z-index: 20;
      & ::ng-deep .nav-item {
        flex: 1 1 auto; // "Flex fill"
        text-align: center;
      }
    }
  }

  sq-facet-card.preview {

    flex: 1;

    @include media-breakpoint-up(lg) {
      padding: 1.25rem;
    }

    ::ng-deep .card {
      height: 100%;

      sq-collapse {
        flex: 1;

        .sq-collapse {
          height: 100%;
        }
      }
    }

  }

}

.flex-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0;
}

.preview-title {
  font-size: 1.25rem;
}

:host-context(.dark) {
  :host, .side-menu {
    background-color: var(--bs-dark);
  }
}

::ng-deep .similar-document span::after {
    content: "\f35d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    vertical-align: .25rem;
    font-size: .55rem;
    padding-left: .25rem;
  }

::ng-deep sq-tabs ul {
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: stretch;

  li a {
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

