@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

nav {
  padding-left: .5rem;
  padding-right: .5rem;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, .15);
  z-index: 99;

  @include media-breakpoint-up(lg) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  img {
    height: 2.5rem;
  }
}

.btn-preview {
  --bs-btn-padding-x: .85rem !important;
  --bs-btn-padding-y: 0.55rem !important;
  max-height: 2.5rem;
  font-size: .8rem;
}

.preview {
  --bs-card-height: 100%;
  flex: 1;

  .card {
    height: 100% !important;
  }
}

.preview-content {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 0;
  height: calc(100% - 5rem);
  background-color: #efefef;

  @include media-breakpoint-up(lg) {
    padding: 1.25rem 2.5rem;
  }
}

.side-menu {
  padding-right: 0;
  background-color: white;
  z-index: 9;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;

  @include media-breakpoint-up(lg) {
    padding-right: 1.25rem;
    background-color: transparent;
  }

  sq-tabs {
    z-index: 20;
  }

  .card {
    flex: 1;
  }
}

.overflow-y-scroll {
  overflow-y: auto;
}

.expand-icon {
  font-size: x-large;
  color: #4a4a4a;

  i {
    width: 1.3rem;
  }
}

:host-context(.dark) .preview-content {
  background-color: black;
}