.no-access-results {
    padding: 15px
}

.no-access-results-title {
    font-weight: 750;
}

.no-access-results-header {
    margin-bottom: 1em;
}

.no-access-results-investigate {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.no-access-results-investigate span {
    margin-left: 10px;
}

.feedback-icon {
    margin-right: 10px;
    margin-left: 10px;
}