:host {
    font-size: 0.875em;
    line-height: 1.2rem;
}

.passage ::ng-deep .answer {
    background-color: palegreen !important;
    padding: 0 .5rem;
    font-weight: bold;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;

    &:has(+.answer) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &+.answer {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
