<ng-template #headerTpl>
	<div class="d-flex flex-grow-1 align-items-center text-truncate">
		<div class="card-icon primary-icon fas fa-list me-2" aria-hidden="true"></div>
		<div class="card-title text-truncate mb-0 py-1 me-auto">
			<span *ngIf="collapsed">
				{{'msg#machine-learning.passagesCollapsed' | sqMessage:{values: {passagesNb: passages.length} } }}
			</span>
			<span *ngIf="!collapsed">
				{{'msg#machine-learning.passages' | sqMessage }}
			</span>
		</div>
		<div class="card-action d-flex justify-content-center align-items-center mx-2">
			<button class="btn btn-sm btn-link" (click)="currentPage = (currentPage+pageNumber-1) % pageNumber"
				*ngIf="passages.length > 1">
				<i class="fas fa-chevron-left"></i>
			</button>
			{{'msg#machine-learning.passage' | sqMessage:{items: nbItems, current: currentRange, length: passages.length} }}
			<button class="btn btn-sm btn-link" (click)="currentPage = (currentPage+1) % pageNumber"
				*ngIf="passages.length > 1">
				<i class="fas fa-chevron-right"></i>
			</button>
		</div>
	</div>
</ng-template>

<div class="card-body">
	<div *ngFor="let passage of currentPassages$ | async" (click)="openPreview(passage)">
		<sq-result-title [record]="passage.record" titleLinkBehavior="action"
			(titleClicked)="onTitleClicked($event, passage)" class="d-block text-truncate"></sq-result-title>
		<div class="my-2" [innerHTML]="passage.highlightedText"></div>
	</div>
</div>