<ng-template #headerTpl>
	<div class="d-flex flex-grow-1 align-items-center text-truncate">
		<div class="card-icon primary-icon fas fa-brain me-2" aria-hidden="true"></div>
		<div class="card-title text-truncate mb-0 py-1 me-auto">
			{{'msg#machine-learning.passages' | sqMessage }}
		</div>
	</div>
</ng-template>

<div class="card-body">
	<div *ngFor="let passage of currentPassages$ | async" (click)="openPreview(passage)" class="passage">
		<div class="sq-passage-text my-2">
			<span *ngIf="passage.$record?.modified && !hideDate" class="extracts-date">{{passage.$record.modified |
				sqDate:dateFormat }} - </span>
			<span [innerHTML]="passage.highlightedText"></span>
		</div>
		<div class="sq-passage-title d-flex align-content-center" *ngIf="passage.$record">
			<sq-result-icon [record]="passage.$record" class="me-1"></sq-result-icon>
			<sq-result-title [record]="passage.$record" titleLinkBehavior="action"
			(titleClicked)="onTitleClicked($event, passage)" class="d-block text-truncate"></sq-result-title>
		</div>
	</div>
</div>