.card-body {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.sq-passage-text {
    font-size: 0.875em;
    line-height: 1.2rem;
}

.sq-passage-title {
    i:before {
        vertical-align: sub;
    }
}

.passage {
    padding-left: var(--bs-card-spacer-x);
    padding-right: var(--bs-card-spacer-x);
    padding-bottom: 0.1rem;

    &:hover {
        background-color: rgb(0, 0, 0, 0.03);
    }

    ::ng-deep .matchlocations {
        background-color: transparent !important;
        font-weight: bold;
    }
}