.card-body {
    padding-left: 0;
    padding-right: 0;
}

.sq-passage-text,
.sq-passage-answer {
    font-size: 0.875em;
    line-height: 1.2rem;
}

:host ::ng-deep .sq-result-title {
    font-size: 0.875em !important;
    line-height: 1.2rem !important;
    font-weight: 400 !important;
    color: initial !important;
}

.sq-passage-title i:before {
    vertical-align: sub;
}

.passage {
    padding-left: var(--bs-card-spacer-x);
    padding-right: var(--bs-card-spacer-x);
    padding-bottom: 0.1rem;
    cursor: pointer;

    &:not(:last-of-type) {
        border-bottom: lightgray solid 1px;
    }

    &:hover {
        background-color: rgb(0, 0, 0, 0.03);
    }

    ::ng-deep .answer {
        background-color: palegreen !important;
        padding: 0 .5rem;
        border-radius: .5rem;
        font-weight: bold;
    }
}

.sq-passage-count {
    display: block;
    width: 100%;
    font-size: 0.875em;
    color: #515960;
    text-align: right;
}
