<div class="d-flex flex-column align-items-center justify-content-center home">
    <!-- Home page logo -->
    <img src="{{ (isDark$ | async) ? 'assets/sinequa-logo-dark-lg.png' : 'assets/sinequa-logo-light-lg.png' }}" id="logo" class="mb-5">

    <!-- Search Form (app/search-form) -->
    <app-search-form [autocompleteSources]="features"></app-search-form>

    <div class="d-flex align-items-center mt-2">
        <!-- Login/Logout link -->
        <button class="btn btn-link" (click)="toggleLogin()">{{ (loginService.complete ? 'msg#userMenu.logout' : 'msg#userMenu.login') | sqMessage}}</button>

        <span> &bull; </span>

        <!-- Dark mode -->
        <button class="btn btn-link" (click)="toggleDark()">{{ ((isDark$ | async)? 'msg#home.lightMode' : 'msg#home.darkMode') | sqMessage}}</button>

    </div>

    <!-- Home facets -->
    <div class="sq-home-facet-bar container mt-5" *ngIf="homeFacets.length">
        <div class="row" *ngIf="loginService.complete">

            <!-- For each activated facet -->
            <ng-container *ngFor="let facet of homeFacets; let i = index" [ngSwitch]="facet">

                <!-- Recent documents -->
                <sq-facet-card *ngSwitchCase="'recent-documents'"
                                [title]="'msg#recentDocuments.recentDocuments'"
                                [collapsible]="false"
                                [icon]="'fas fa-file-alt'"
                                class="{{ facetSizing(i, homeFacets.length) }} mb-3 striped">
                    <sq-facet-recent-documents #facet [maxDocuments]="5"></sq-facet-recent-documents>
                </sq-facet-card>

                <!-- Recent queries -->
                <sq-facet-card *ngSwitchCase="'recent-queries'"
                                [title]="'msg#facet.recentQueries.title'"
                                [collapsible]="false"
                                [icon]="'fas fa-history'"
                                class="{{ facetSizing(i, homeFacets.length) }} mb-3 striped">
                    <sq-facet-recent-queries #facet [maxQueries]="5"></sq-facet-recent-queries>
                </sq-facet-card>

                <!-- Saved queries -->
                <sq-facet-card *ngSwitchCase="'saved-queries'"
                                [title]="'msg#savedQueries.savedQueries'"
                                [collapsible]="false"
                                [icon]="'fas fa-save'"
                                class="{{ facetSizing(i, homeFacets.length) }} mb-3 striped">
                    <sq-facet-saved-queries #facet [maxQueries]="5"></sq-facet-saved-queries>
                </sq-facet-card>

                <!-- Collections (baskets) -->
                <sq-facet-card *ngSwitchCase="'baskets'"
                                [title]="'msg#baskets.baskets'"
                                [collapsible]="false"
                                [icon]="'fas fa-inbox'"
                                class="{{ facetSizing(i, homeFacets.length) }} mb-3 striped">
                    <sq-facet-baskets #facet [maxBaskets]="5"></sq-facet-baskets>
                </sq-facet-card>

            </ng-container>

        </div>
    </div>
</div>
