<div class="card position-absolute mx-auto" *ngIf="!closed">
    <div class="card-body">
        <div class="d-flex align-items-center mb-1">
            <ng-container *ngTemplateOutlet="nodeTpl; context:{$implicit: nodeData}"></ng-container>
            <button class="btn btn-sm ml-auto" title="{{ (expanded? 'msg#network.infocards.collapse' : 'msg#network.infocards.expand') | sqMessage }}" (click)="expanded = !expanded">
                <i class="fas fa-chevron-{{ expanded? 'up' : 'down' }}"></i>
            </button>
            <button class="btn btn-sm" title="{{ 'msg#network.infocards.close' | sqMessage }}" (click)="closed = true">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <sq-collapse [collapsed]="!expanded">
            <ng-template>
                <div *ngFor="let neighbor of neighbors | keyvalue" class="mt-1 small">
                    <strong>{{neighbor.key | sqMessage}}</strong>
                    <ul class="list-unstyled pl-3 m-0">
                        <li *ngFor="let item of neighbor.value">
                            <a href="#" (click)="focusNode(item.node)" title="{{ 'msg#network.infocards.focus' | sqMessage }}">
                                <ng-container *ngTemplateOutlet="nodeTpl; context:{$implicit: item}"></ng-container>
                            </a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </sq-collapse>
    </div>
</div>

<ng-template #nodeTpl let-nodeData>
    <span *ngIf="nodeData.node['image']"><img src="{{nodeData.node['image']}}" class="circular-image mr-2"></span>
    <span *ngIf="!nodeData.node['image'] && nodeData.node['icon']" [ngStyle]="{color: nodeData.node['icon']['color']}" class="fa mr-2">{{nodeData.node['icon']['code']}}</span>
    <span class="mr-2">{{nodeData.node.label}}</span>
    <span *ngIf="nodeData.count > 0" class="mr-2 text-muted" title="{{ 'msg#network.infocards.count' | sqMessage }}">({{nodeData.count}})</span>
</ng-template>