<h1>Preview Module</h1>

<div class="row">
    <div class="col-12 mb-4">
        <app-search-bar [search]="'Paris'"></app-search-bar>
    </div>
    <ng-container *ngIf="globalService.results">
        <div class="col-12 mb-4">
            <app-facet-preview-component></app-facet-preview-component>
        </div>
        <div class="col-12 mb-4">
            <app-preview-entity-facet></app-preview-entity-facet>
        </div>
        <div class="col-12 mb-4">
            <app-preview-entity-panel></app-preview-entity-panel>
        </div>
        <div class="col-12 mb-4">
            <app-preview-extracts-panel></app-preview-extracts-panel>
        </div>
        <div class="col-12 mb-4">
            <app-preview-highlights></app-preview-highlights>
        </div>
        <div class="col-12 mb-4">
            <app-preview-links></app-preview-links>
        </div>
        <div class="col-12 mb-4">
            <app-preview-minimap></app-preview-minimap>
        </div>
        <div class="col-12 mb-4">
            <app-preview-page-form></app-preview-page-form>
        </div>
        <div class="col-12 mb-4">
            <app-preview-pages-panel></app-preview-pages-panel>
        </div>
        <div class="col-12 mb-4">
            <app-preview-panel></app-preview-panel>
        </div>
        <div class="col-12 mb-4">
            <app-preview-popup></app-preview-popup>
        </div>
        <div class="col-12 mb-4">
            <app-preview-search-form></app-preview-search-form>
        </div>
        <div class="col-12 mb-4">
            <app-result-link-preview></app-result-link-preview>
        </div>
        <div class="col-12 mb-4">
            <app-similar-documents></app-similar-documents>
        </div>
    </ng-container>
</div>