<ng-container *ngFor="let valueItem of valueItems; let $index = index">
    <ol class="breadcrumb" *ngIf="!!valueItem.parts && valueItem.parts.length > 0">
        <li *ngFor="let part of valueItem.parts; let $subIndex = index">
            <span class="{{itemClass}}" [ngClass]="'sq-metadata-item-' + item"
                (click)="select($index, $subIndex)">{{part | sqValue:column}}</span>
            <span *ngIf="$subIndex < valueItem.parts.length - 1"
                class="sq-metadata-item-tree-node-separator">{{'msg#metadata.item.treeNodeSeparator' |
                sqMessage}}</span>
        </li>
    </ol>
    <span *ngIf="$index < valueItems.length - 1"
        class="sq-metadata-item-tree-separator">{{'msg#metadata.item.treeSeparator' | sqMessage}}</span>
</ng-container>