<ng-container *ngIf="display && hasValues">
    <!-- Icon -->
    <span *ngIf="icon" class="sq-metadata-col metadata-{{layout}} {{icon}}"></span>

    <!-- Title -->
    <span *ngIf="label" class="sq-metadata-col metadata-{{layout}} sq-metadata-item-label">
        {{label | sqMessage}}:
    </span>

    <!-- Value -->
    <span class="sq-metadata-col sq-metadata-values metadata-{{layout}}" [style.max-height.px]="valuesHeight"
        [class.collapsable]="valuesHeight" [class.d-block]="layout === 'table'" #values>
        <!-- Collapse button -->
        <a *ngIf="collapseRows && needsCollapse" role="button" (click)="toggleCollapse()" class="collapse-button me-1">
            <i class="fas fa-fw fa-caret-{{collapsed? 'right' : 'down'}}"></i>
        </a>

        <!-- If tree -->
        <ng-container *ngIf="metadataValue.isTree">
            <ng-container *ngFor="let valueItem of metadataValue.valueItems; let $index = index; let $last = last">
                <ol class="breadcrumb" *ngIf="!!valueItem.parts && valueItem.parts.length > 0">
                    <li *ngFor="let part of valueItem.parts; let $subIndex = index" [sqTooltip]="getTooltip"
                        [hoverableTooltip]="true" [sqTooltipData]="{valueItem: valueItem, part: part, index: $subIndex}"
                        [sqTooltipTemplate]="tooltip" [placement]="'top'" [tooltipClass]="'p-0 bg-transparent'"
                        class="sq-metadata-item {{'sq-metadata-item-' + field}} {{fieldClass}}">
                        <span [class.has-tooltip]="hasTooltip" [class.sq-filtered]="part.filtered"
                            [class.sq-excluded]="part.excluded">{{part | sqValue:metadataValue.column}}</span>
                        <span *ngIf="$subIndex < valueItem.parts.length - 1"
                            class="sq-metadata-item-tree-node-separator">
                            {{'msg#metadata.item.treeNodeSeparator' | sqMessage}}
                        </span>
                    </li>
                </ol>
                <span *ngIf="!$last" class="sq-metadata-item-tree-separator">
                    {{'msg#metadata.item.treeSeparator' | sqMessage}}
                </span>
            </ng-container>
        </ng-container>

        <!-- Not a Tree-->
        <span *ngIf="!metadataValue.isTree">
            <span *ngFor="let valueItem of metadataValue.valueItems; let $last = last"
                class="sq-metadata-item {{'sq-metadata-item-' + field}} {{fieldClass}}"
                [attr.title]="(label || metadataValue.fnEntityTooltip) ? null : (label | sqMessage)"
                [sqTooltip]="getTooltip" [placement]="'top'" [hoverableTooltip]="true"
                [tooltipClass]="'p-0 bg-transparent'" [sqTooltipData]="valueItem" [sqTooltipTemplate]="tooltip">
                <span [class.has-tooltip]="hasTooltip" [class.sq-filtered]="valueItem.filtered"
                    [class.sq-excluded]="valueItem.excluded">
                    {{valueItem | sqValue:metadataValue.column}}
                </span>
                <span class="sq-metadata-separator" *ngIf="separator && !$last">
                    {{separator | sqMessage}}
                </span>
            </span>
        </span>

        <ng-template #tooltip let-data>
            <div class="sq-metadata-tooltip">
                <div *ngIf="data.entityExtract" class="sq-metadata-tooltip-entity p-2" [innerHTML]="data.entityExtract">
                </div>
                <div *ngIf="data.actions.length" class="btn-group d-flex"
                    [sq-action-buttons]="{items: data.actions, style: actionsButtonsStyle, size: actionsButtonsSize, rightAligned: true}">
                </div>
            </div>
        </ng-template>
    </span>
</ng-container>