<ng-container *ngIf="display && hasValues">
    <!-- Icon -->
    <span *ngIf="icon" class="sq-metadata-col metadata-{{layout}} {{icon}} pe-1"></span>

    <!-- Title -->
    <span *ngIf="label" class="sq-metadata-col metadata-{{layout}} sq-metadata-item-label pe-1">
        {{label | sqMessage}}:
    </span>

    <!-- Value -->
    <span class="sq-metadata-col sq-metadata-values metadata-{{layout}}" [style.max-height.px]="valuesHeight"
        [class.collapsable]="valuesHeight" [class.d-block]="layout === 'table'" #values>
        <!-- Collapse button -->
        <a *ngIf="collapseRows && needsCollapse" role="button" (click)="toggleCollapse()" class="collapse-button me-1">
            <i class="fas fa-fw fa-caret-{{collapsed? 'right' : 'down'}}"></i>
        </a>

        <!-- Other types of metadata -->
        <ng-container *ngIf="metadataValue.isTree">
            <sq-metadata-tree [record]="record" [field]="field" [fieldClass]="fieldClass" [query]="query"
                [column]="metadataValue.column" [tooltipTemplate]="tooltipTemplate" [actions]="allActions"
                [actionsButtonsStyle]="actionsButtonsStyle" [actionsButtonsSize]="actionsButtonsSize"
                [entityExtractMaxLines]="entityExtractMaxLines" (selectedItem)="currentItem=$event"></sq-metadata-tree>
        </ng-container>

        <!-- Not a Tree-->
        <span *ngIf="!metadataValue.isTree">
            <span *ngFor="let valueItem of metadataValue.valueItems; let $last = last"
                class="sq-metadata-item {{'sq-metadata-item-' + field}} {{fieldClass}}"
                [attr.title]="(label || metadataValue.fnEntityTooltip) ? null : (label | sqMessage)"
                [sqTooltip]="tooltipTemplate || allActions?.length ? tooltip : undefined" [placement]="'top'"
                [hoverableTooltip]="true" [tooltipClass]="'p-0 bg-transparent'" (shown)="setupTooltip(valueItem)">
                <span [class.sq-filtered]="valueItem.filtered" [class.sq-excluded]="valueItem.excluded">
                    {{valueItem | sqValue:metadataValue.column}}
                </span>
                <span class="sq-metadata-separator" *ngIf="separator && !$last">
                    {{separator | sqMessage}}
                </span>
            </span>

            <ng-template #tooltip>
                <div class="sq-metadata-tooltip">
                    <div class="sq-metadata-tooltip-entity p-2" *ngIf="tooltipTemplate" [innerHTML]="tooltipTemplate"
                        [style.-webkit-line-clamp]="entityExtractMaxLines">
                    </div>
                    <div *ngIf="allActions?.length" class="btn-group d-flex"
                        [sq-action-buttons]="{items: allActions, style: actionsButtonsStyle, size: actionsButtonsSize, rightAligned: true}">
                    </div>
                </div>
            </ng-template>
        </span>
    </span>
</ng-container>