<ng-container *ngIf="display && hasValues">
    <!-- Icon -->
    <span *ngIf="icon" class="sq-metadata-col metadata-{{layout}} {{icon}} pe-1"></span>

    <!-- Title -->
    <span *ngIf="showTitle" class="sq-metadata-col metadata-{{layout}} sq-metadata-item-label pe-1">
        {{(label || 'msg#metadata.item.label') | sqMessage:fieldLabelMessageParams}}
    </span>

    <!-- Value -->
    <span class="sq-metadata-col sq-metadata-values metadata-{{layout}}" [style.max-height.px]="valuesHeight"
        [class.collapsable]="valuesHeight" #values>
        <!-- Collapse button -->
        <a *ngIf="collapseRows && needsCollapse" role="button" (click)="toggleCollapse()" class="collapse-button me-1">
            <i class="fas fa-fw fa-caret-{{collapsed? 'right' : 'down'}}"></i>
        </a>

        <!-- Other types of metadata -->
        <ng-container *ngIf="metadataValue.isTree">
            <sq-metadata-tree [record]="record" [field]="field" [fieldClass]="fieldClass" [query]="query"
                [column]="metadataValue.column" [showFiltersHighlights]="showFiltersHighlights"
                [popoverTemplate]="popoverTemplate" [actions]="allActions" [actionsButtonsStyle]="actionsButtonsStyle"
                [actionsButtonsSize]="actionsButtonsSize" [entityExtractMaxLines]="entityExtractMaxLines"
                (selectedItem)="currentItem=$event"></sq-metadata-tree>
        </ng-container>

        <!-- Not a Tree-->
        <ng-container *ngIf="!metadataValue.isTree">
            <span *ngFor="let valueItem of metadataValue.valueItems; let $last = last"
                class="sq-metadata-item {{'sq-metadata-item-' + field}} {{fieldClass}}"
                [attr.title]="(showTitle || metadataValue.fnEntityPopover) ? null : ((label || columnLabel) | sqMessage)"
                sqPopper [target]="popoverTemplate || allActions?.length ? popover : undefined" [placement]="placement"
                (shown)="setupPopover(valueItem)"
                [style.background-color]="showFiltersHighlights && valueItem.filtered ? 'yellow': showFiltersHighlights && valueItem.excluded ? 'red' : undefined">
                {{valueItem | sqValue:metadataValue.column}}
                <span class="sq-metadata-separator" *ngIf="separator && !$last">
                    {{separator | sqMessage}}
                </span>
            </span>

            <div #popover [hidden]="!popoverTemplate && !allActions?.length">
                <sq-metadata-popover [popoverTemplate]="popoverTemplate" [actions]="allActions"
                    [actionsButtonsStyle]="actionsButtonsStyle" [actionsButtonsSize]="actionsButtonsSize"
                    [entityExtractMaxLines]="entityExtractMaxLines"></sq-metadata-popover>
            </div>
        </ng-container>
    </span>
</ng-container>