.collapsable {
    overflow: hidden;
}

.sq-metadata-col {
    &.metadata-inline:before {
        vertical-align: sub;
    }

    &.metadata-table {
        display: table-cell;
    }
}

.sq-metadata-item {
    &.sq-filtered {
        background-color: yellow !important;
    }

    &.sq-excluded {
        background-color: red;
    }
}