<!-- Navbar with app icon, search form, and menus -->
<nav class="navbar navbar-expand-sm bg-light sticky-top" [ngClass]="{'navbar-dark': isDark}">
    <div class="container-xl flex-nowrap">

        <div class="col-lg-3 col-xl-2 d-flex align-items-center">
            <!-- Application logo -->
            <a [routerLink]="['/home']" title="Home">
                <img id="logo" alt="sinequa logo">
            </a>
            <!-- Button to toggle the visibility of facets on small screens -->
            <button *ngIf="showFilterToggle" class="btn btn-lg" [ngClass]="isDark ? 'btn-dark' : 'btn-light'" title="{{ 'msg#search.showFilters' | sqMessage }}"
                (click)="toggleFilters()">
                <i class="fas fa-filter text-muted"></i>
            </button>
        </div>


        <!-- Search form -->
        <div class="col-5 col-lg-5 app-search-form px-2" *ngIf="showSearch">
            <app-search-form [autocompleteSources]="features"></app-search-form>
        </div>

        <!-- User menu which visibility can be toggled with a button on small screens -->
        <div class="d-flex justify-content-end flex-grow-1 flex-shrink-1 w-100" *ngIf="showMenu" [ngClass]="{'d-none': !showMenu}">
            <ul class="navbar-nav navbar-right align-items-center mw-100">
                <ng-container *ngFor="let feature of features" [ngSwitch]="feature">
                    <sq-baskets-menu *ngSwitchCase="'baskets'" icon="fas fa-inbox"></sq-baskets-menu>
                    <sq-saved-queries-menu *ngSwitchCase="'saved-queries'"></sq-saved-queries-menu>
                    <sq-alerts-menu *ngSwitchCase="'alerts'" ></sq-alerts-menu>
                    <sq-labels-menu *ngSwitchCase="'labels'" [results]="results$ | async"></sq-labels-menu>
                </ng-container>
                <sq-user-menu [display]="'fullName'"></sq-user-menu>
                <sq-help-button [style]="'primary'"  class="ms-1 d-none d-md-block"></sq-help-button>
                <!-- Non mobile feedback button -->
                <sq-feedback-menu [style]="'primary'" [rightAligned]="true" class="ms-1 d-none d-md-block" *ngIf="loginService.complete"></sq-feedback-menu>
            </ul>
        </div>

        <button class="d-md-none btn btn-lg" [ngClass]="isDark ? 'btn-dark' : 'btn-light'" title="{{ 'msg#search.showMenu' | sqMessage }}"
            (click)="toggleMenu()">
            <i class="fas fa-bars text-muted"></i>
        </button>

    </div>
</nav>

<!-- Loading bar (Manages its own state and visibility via the search service) -->
<sq-loading-bar></sq-loading-bar>

<!-- Main interface -->
<div class="container-xl main" *ngIf="loginService.complete">
    <div class="row" *ngIf="results$ | async; let results">
        <!-- Left facet bar -->
        <!-- sqSticky to update if you change the header sizing -->
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 sq-facet-bar" *ngIf="showFilters" [sqSticky]="{top: 105, bottom: 10}">
            <!-- Source facet -->
            <sq-facet-card 
                [title]="'msg#facet.treepath.title'" 
                icon="fas fa-sitemap" 
                [collapsible]="false"
                class="mb-3">
                <sq-facet-list #facet 
                    [results]="results" 
                    [aggregation]="'Treepath'" 
                    [expandedLevel] = 1>
                </sq-facet-list>
            </sq-facet-card>

            <!-- Other filters -->
            <sq-facet-card  
                [collapsible]="true"
                class="mb-3" >
                <sq-facet-multi #facet
                    title="Incyte Filters" 
                    [icon]="'fas fa-microscope'"
                    [results]="results"
                    [facets]="incyteFacetsAll"
                    [facetComponents]="facetComponents"
                    *ngIf="['all'].includes(currentSelectedTab)">
                </sq-facet-multi>
                <sq-facet-multi #facet
                    title="Incyte Filters" 
                    [icon]="'fas fa-microscope'"
                    [results]="results"
                    [facets]="incyteFacetsFileshares"
                    [facetComponents]="facetComponents"
                    *ngIf="['fileshares'].includes(currentSelectedTab)">
                </sq-facet-multi>
                <sq-facet-multi #facet
                    title="Incyte Filters" 
                    [icon]="'fas fa-microscope'"
                    [results]="results"
                    [facets]="incyteFacetsChemcart"
                    [facetComponents]="facetComponents"
                    *ngIf="['chemcart'].includes(currentSelectedTab)">
                </sq-facet-multi>
                <sq-facet-multi #facet
                    title="Incyte Filters" 
                    [icon]="'fas fa-microscope'"
                    [results]="results"
                    [facets]="incyteFacetsBenchling"
                    [facetComponents]="facetComponents"
                    *ngIf="['benchling'].includes(currentSelectedTab)">
                </sq-facet-multi>
                <sq-facet-multi #facet
                    title="Incyte Filters" 
                    [icon]="'fas fa-microscope'"
                    [results]="results"
                    [facets]="incyteFacetsPSILO"
                    [facetComponents]="facetComponents"
                    *ngIf="['psilo'].includes(currentSelectedTab)">
                </sq-facet-multi>
            </sq-facet-card>

            <sq-facet-card  
                [collapsible]="true"
                class="mb-3" 
                *ngIf="['all', 'fileshares', 'chemcart', 'benchling'].includes(currentSelectedTab)">
                <sq-facet-multi #facet
                    title="Filters" 
                    [icon]="'fas fa-microscope'"
                    [results]="results"
                    [facets]="incyteFacetsOther"
                    [facetComponents]="facetComponents">
                </sq-facet-multi>
            </sq-facet-card>

            <sq-facet-card  
                title="MeSH Filters"
                icon="fas fa-globe"  
                [collapsible]="true"
                class="mb-3" 
                *ngIf="['all', 'fileshares', 'chemcart', 'benchling'].includes(currentSelectedTab)">
                <sq-facet-list #facet
                    [aggregation]="'MeshTree'" 
                    [results]="results"
                    [expandedLevel] = 0>
                </sq-facet-list>
            </sq-facet-card>
        </div>

        <!-- Results -->
        <div class="col-sm-12 col-lg-5" [ngClass]="{'col-md-8': showFilters, 'col-md-6': !showFilters}" *ngIf="showResults">

            <div class="result-toolbar d-flex flex-wrap">

                <!-- Tabs -->
                <sq-tabs class="w-100" [results]="results" [showCounts]="true"></sq-tabs>

                <!-- Did you mean -->
                <sq-did-you-mean class="w-100" [results]="results"></sq-did-you-mean>

                <!-- Sponsored links -->
                <sq-sponsored-results class="w-100" [query]="searchService.query"></sq-sponsored-results>

                <!-- Filters -->
                <div class="d-flex small my-2 position-relative" *ngIf="searchService.query.filters">
                    <i class="fas fa-filter p-1 me-1"></i>
                    <sq-filters-view
                        [query]="searchService.query"
                        [closeOnClickOutside]="true"
                        [advancedModeClass]="'position-absolute card border shadow p-3'"
                        [filtersClass]="'badge rounded-pill bg-secondary pt-1 text-white'"
                        (filterEdit)="searchService.search()">
                    </sq-filters-view>
                </div>

                <!-- nth top passages, if any -->
                <sq-facet-card class="w-100 mb-2"
                    [title]="'msg#machine-learning.passages'"
                    [preference]="'top-passages'"
                    icon="fas fa-brain primary-icon"
                    startCollapsed="true">
                    <sq-top-passages #facet
                        [results]="results"
                        (passageClicked)="openMiniPreview($event.$record, $event.id)"
                        (documentOpened)="openPreviewIfNoUrl($event, false)">
                    </sq-top-passages>
                </sq-facet-card>

                <sq-facet-card 
                    *ngIf="results.nonAclRecords.length > 0"
                    class="w-100 mb-2"
                    title="See more results"
                    icon="fas fa-lock-open primary-icon"
                    startCollapsed="true">
                    <no-access-results #facet 
                        [nonAclRecords]="results.nonAclRecords">
                    </no-access-results>
                </sq-facet-card>
                

                <!-- Result counter and sort -->
                <sq-results-counter [rowCount]="searchService.rowCount" class="small my-2 ms-auto px-2"></sq-results-counter>
                <sq-sort-selector [results]="results" [rightAligned]="true" class="small my-2"></sq-sort-selector>

            </div>

            <!-- List of documents (for loop) -->
            <ul class="result-list p-0" *ngIf="results.records?.length > 0; else noResult">
                <li *ngFor="let record of results.records" class="record"
                  (click)="onDocumentClicked(record, $event)"
                  [ngClass]="{
                    'selected': record.$selected || record === openedDoc,
                    'duplicate': record.$isDuplicate
                  }">
                    <sq-result-duplicates-spacer [record]="record"></sq-result-duplicates-spacer>
                    <div class="flex-grow-1">
                        <div class="record-header d-flex align-items-center">
                            <sq-result-selector class="d-none d-md-block" [record]="record"></sq-result-selector>
                            <sq-result-title [record]="record" (titleClicked)="openPreviewIfNoUrl(record, $event)"></sq-result-title>
                            <button
                                *ngIf="isFileSystem(record)"
                                title="Paste this in your Windows file explorer to access the original document"
                                class="btn btn-sm btn-link ms-auto py-0 text-nowrap"
                                (click)="copyToClipboard(record, $event)">
                                <i class ="fas fa-fw fa-clipboard"></i>Copy path to clipboard
                            </button>
                            <i *ngIf="(record.treepath[0]?.startsWith('/ChemCart/') && record.experimentStatus === 'Witnessed') 
                            || (record.treepath[0]?.startsWith('/Benchling/') && record.experimentStatus === 'ACCEPTED')" 
                            class="fas fa-circle-check icon-right" 
                            style="color: green"
                            title="Experiment status is Witnessed/Accepted"
                            ></i>
                            <i *ngIf="(record.treepath[0]?.startsWith('/ChemCart/') && record.experimentStatus === 'Signing')
                            || (record.treepath[0]?.startsWith('/Benchling/') && record.experimentStatus === 'NEEDS_REVIEW')" 
                            class="fas fa-hourglass-half icon-right" 
                            style="color: orange"
                            title="Experiment status is Signing/Needs Review"
                            ></i>
                            <i *ngIf="(record.treepath[0]?.startsWith('/Benchling/') && record.experimentStatus === 'RETRACTED')" 
                            class="fas fa-circle-xmark icon-right" 
                            style="color: red"
                            title="Experiment status is Rejected"
                            ></i>
                        </div>
                        <sq-result-source [record]="record" [displayTreepath]="true" [displayUrl]="false"></sq-result-source>

                        <sq-result-extracts [record]="record" class="d-block overflow-hidden"></sq-result-extracts>

                        <sq-metadata *ngIf="record.treepath[0]?.startsWith('/ChemCart/')"
                            [record]="record"
                            [config]="incyteChemCartMetadata"
                            [layout]="'table'"
                            class="small"
                        ></sq-metadata>

                        <sq-metadata *ngIf="record.treepath[0]?.startsWith('/Benchling/')"
                            [record]="record"
                            [config]="incyteBenchlingMetadata"
                            [layout]="'table'"
                            class="small"
                        ></sq-metadata>

                        <sq-metadata *ngIf="record.treepath[0]?.startsWith('/PSILO/')"
                            [record]="record"
                            [config]="incytePSILOMetadata"
                            [layout]="'table'"
                            class="small"
                        ></sq-metadata>

                        <sq-metadata *ngIf="record.treepath[0]?.startsWith('/Projects/') || record.treepath[0]?.startsWith('/Translational Science/')"
                            [record]="record"
                            [config]="incyteFileSharesMetadata"
                            [layout]="'table'"
                            class="small"
                        ></sq-metadata>


                        <sq-result-missing-terms [record]="record"></sq-result-missing-terms>

                        <sq-labels [record]="record" [public]="true"></sq-labels>
                        <sq-labels [record]="record" [public]="false"></sq-labels>

                        <sq-result-duplicates [record]="record"></sq-result-duplicates>
                    </div>
                    <sq-result-thumbnail [record]="record" [thumbnailColumn]="'sourcevarchar4'" [linkBehavior]="false"
                        class="d-none d-sm-block align-self-center ms-3">
                    </sq-result-thumbnail>
                </li>
            </ul>

            <ng-template #noResult>
              <div class="alert alert-warning" role="alert" >
                <div class="d-flex align-items-center">
                  <i class="far fa-sad-tear fs-1 me-2 mb-2"></i>
                  <h5>{{'msg#noResult.title' | sqMessage}}</h5>
                </div>
                <p>{{'msg#noResult.description' | sqMessage}}</p>
                <hr>
                <p class="mb-0">{{'msg#noResult.help' | sqMessage}}
                  <sq-help-button [helpFolderOptions]="helpFolderOptions" [icon]="undefined" [text]="'msg#noResult.link' | sqMessage" [tooltip]="undefined" styleClass="btn-help"></sq-help-button>
                </p>
              </div>
            </ng-template>

            <!-- Infinite scroll -->
            <sq-scroller></sq-scroller>

            <!-- Pagination -->
            <!-- <sq-pager [results]="results" class="d-flex flex-column align-items-center mt-3"></sq-pager> -->
        </div>

        <!-- Right part-->
        <!-- sqSticky to update if you change the header sizing -->
        <div class="col-sm-12 col-lg-4 col-xl-5" [ngClass]="{'col-md-6': !showFilters}"  [sqSticky]="{top: 105, bottom: 10}">

            <!-- Without selected document -->
            <!-- hidden only on md resolution -->
            <sq-facet-card *ngIf="!openedDoc" class="d-none d-sm-block no-record" [ngClass]="{ 'd-none d-lg-block mb-3': showFilters }" [collapsible]="false" [title]="'msg#preview.documentPreview'">
                <div class="text-center">
                    <img src="assets/sinequa-empty-preview.png" class="mb-3">
                    <p class="fw-bold">{{'msg#preview.documentPreviewTitle' | sqMessage}}</p>
                    <p>{{'msg#preview.documentPreviewDescription' | sqMessage}}</p>
                </div>
            </sq-facet-card>

            <!-- With selected document -->
            <sq-facet-card *ngIf="openedDoc" [collapsible]="false" [facetActionsAreSecondary]="true"
                [viewActionsAreSecondary]="true"
                secondaryActionsClass="position-absolute end-0 btn-group-vertical mt-4 me-3 bg-light rounded shadow on-hover"
                viewActionsClass="d-block btn-group mt-2" viewButtonsStyle="outline-primary" [actions]="previewCustomActions"
                actionsSize="" class="mb-3 facet-preview">

                <ng-template #headerTpl>
                    <sq-result-icon [record]="openedDoc" [formatIcons]="formatIcons" class="me-1"></sq-result-icon>
                    <sq-result-title class="flex-grow-1" [record]="openedDoc" field="title" titleLinkBehavior="open-if-url">
                    </sq-result-title>
                </ng-template>

                <ng-template #subHeaderTpl>
                    <sq-metadata
                        [record]="openedDoc"
                        [config]="metadata"
                        [layout]="'table'"
                        class="small"
                    ></sq-metadata>
                </ng-template>

                <ng-template #passagesList
                    *ngIf="openedDoc.$hasPassages"
                    [sqFacetView]="{text: 'msg#preview.viewPassages'}"
                    [default]="true">
                    <sq-passage-list [record]="openedDoc" [passageId]="passageId"></sq-passage-list>
                </ng-template>

                <ng-template [sqFacetView]="{text: 'msg#preview.viewPreview'}">
                    <sq-preview #facet
                        style="height: calc(100vh - 300px);"
                        [id]="openedDoc.id"
                        [highlightColors]="previewHighlights"
                        [highlightEntities]="false"
                        [preferenceName]="'mini-preview'"
                        [scale]="0.8"
                        (ready)="onPreviewReady(facet)">
                    </sq-preview>
                </ng-template>

                <ng-template [sqFacetView]="{text: 'msg#preview.viewDuplicates'}" *ngIf="openedDoc.groupcount && openedDoc.groupcount > 1">
                    <sq-result-duplicates-list [record]="openedDoc">
                      <ng-template let-duplicate>
                        <sq-result-title [record]="duplicate" (titleClicked)="openPreviewIfNoUrl(duplicate, $event)"></sq-result-title>
                        <sq-result-source [record]="duplicate" [displayTreepath]="true"></sq-result-source>
                      </ng-template>
                    </sq-result-duplicates-list>
                </ng-template>

            </sq-facet-card>
        </div>
    </div>
</div>

<!-- Result selection toolbar -->
<div class="card-action-bar rounded text-white bg-primary position-fixed w-auto p-2 d-none d-md-block">
    <sq-results-selector [style]="'primary'"></sq-results-selector>
</div>
