<div class="nav-wrapper">
    <!-- Navbar with app icon, search form, and menus -->
    <nav class="navbar navbar-expand-sm" [ngClass]="{'navbar-light bg-light': !isDark(), 'navbar-dark bg-dark': isDark()}">
        <div class="container-xl flex-nowrap">

            <div class="col-lg-3 col-xl-2" *ngIf="showLogo">
                <!-- Application logo -->
                <a [routerLink]="['/home']" title="Home">
                    <img id="logo" src="assets/sinequa-logo-light-lg.png" alt="sinequa logo" width="160px" *ngIf="!isDark() && ui.screenSizeIsGreater('sm')">
                    <img id="logo" src="assets/sinequa-logo-light-sm.png" alt="sinequa logo" width="40px" *ngIf="!isDark() && ui.screenSizeIsLessOrEqual('sm')">
                    <img id="logo" src="assets/sinequa-logo-dark-lg.png" alt="sinequa logo" width="160px" *ngIf="isDark() && ui.screenSizeIsGreater('sm')">
                    <img id="logo" src="assets/sinequa-logo-dark-sm.png" alt="sinequa logo" width="40px" *ngIf="isDark() && ui.screenSizeIsLessOrEqual('sm')">
                </a>
            </div>

            <!-- Button to toggle the visibility of facets on small screens -->
            <button *ngIf="showFilterToggle" class="btn btn-lg btn-light btn-link align-self-baseline" title="{{ 'msg#search.showFilters' | sqMessage }}"
                (click)="toggleFilters()">
                <i class="fas fa-filter text-muted"></i>
            </button>

            <!-- Search form -->
            <div class="col-sm-5 ps-1 pe-2" *ngIf="showForm">
                <app-search-form class="w-100"></app-search-form>
            </div>

            <!-- User menu which visibility can be toggled with a button on small screens -->
            <div class="col-sm-4 col-xl-5 d-flex justify-content-end" *ngIf="showMenu">
                <ul class="navbar-nav navbar-right mw-100">
                    <ng-container *ngFor="let feature of features" [ngSwitch]="feature">
                        <sq-baskets-menu *ngSwitchCase="'baskets'" [icon]="'fas fa-inbox'"></sq-baskets-menu>
                        <sq-saved-queries-menu *ngSwitchCase="'saved-queries'"></sq-saved-queries-menu>
                        <sq-alerts-menu *ngSwitchCase="'alerts'"></sq-alerts-menu>
                        <sq-labels-menu *ngSwitchCase="'labels'" [results]="results$ | async"></sq-labels-menu>
                    </ng-container>
                    <sq-user-menu [display]="'fullName'"></sq-user-menu>
                </ul>

                <!-- Non mobile feedback button -->
                <sq-feedback-menu [style]="'primary'" [rightAligned]="true" class="ms-1" *ngIf="loginService.complete && ui.screenSizeIsGreaterOrEqual('md')"></sq-feedback-menu>
            </div>

            <button *ngIf="!showForm" class="btn btn-lg btn-light btn-link align-self-baseline" title="{{ 'msg#search.showMenu' | sqMessage }}"
                (click)="toggleMenu()">
                <i class="fas fa-bars text-muted"></i>
            </button>

        </div>
    </nav>

    <!-- Loading bar (Manages its own state and visibility via the search service) -->
    <sq-loading-bar></sq-loading-bar>
</div>

<!-- Main interface -->
<div class="container-xl main" *ngIf="loginService.complete">
    <div class="row" *ngIf="results$ | async; let results">

        <!-- Left facet bar -->
        <!-- sqSticky to update if you change the header sizing -->
        <div class="col-md-4 col-lg-3 col-xl-2" *ngIf="showFilters" [sqSticky]="{top: 96, bottom: 80}">
            <sq-facet-card [title]="'msg#facet.treepath.title'" [icon]="'fas fa-sitemap'" [collapsible]="false" class="mb-3">
                <sq-facet-tree #facet [results]="results" [aggregation]="'Treepath'"></sq-facet-tree>
            </sq-facet-card>
            <sq-facet-card [title]="multiFacetTitle" [icon]="multiFacetIcon" [collapsible]="false" class="mb-3">
                <sq-facet-multi
                    #facet
                    [results]="results"
                    [facets]="facets"
                    [facetComponents]="facetComponents"
                    (events)="facetChanged($event)"
                >
                </sq-facet-multi>
            </sq-facet-card>
        </div>

        <!-- Result selection toolbar -->
        <div class="card-action-bar rounded text-white bg-primary position-fixed w-auto" *ngIf="ui.screenSizeIsGreater('sm')">
            <div class="p-2">
                <sq-results-selector [style]="'primary'"></sq-results-selector>
            </div>
        </div>

        <!-- Results -->
        <div class="col-lg-5" [ngClass]="{'col-md-7': !showFilters, 'col-md-8': showFilters}" *ngIf="showResults">

            <!-- Tabs -->
            <sq-tabs [results]="results"></sq-tabs>

            <!-- Toolbar -->
            <div class="d-flex sq-toolbar">
                <sq-facet-mysearch [results]="results" [allowDeletion]="true" class="flex-grow-1 flex-basis-0"></sq-facet-mysearch>
                <sq-results-counter [rowCount]="searchService.rowCount" class="mx-2"></sq-results-counter>
                <sq-sort-selector [results]="results" [rightAligned]="true"></sq-sort-selector>
            </div>

            <!-- Did you mean -->
            <sq-did-you-mean [results]="results"></sq-did-you-mean>

            <!-- Sponsored links -->
            <sq-sponsored-results [query]="searchService.query"></sq-sponsored-results>

            <!-- Answer card -->
            <sq-facet-card *ngIf="hasAnswers" class="mt-3" #answersFacet>
                <sq-answer-card #facet [results]="results" (previewOpened)="openMiniPreview($event.$record)"
                    (titleClicked)="onTitleClick($event)" [collapsed]="answersFacet._collapsed"></sq-answer-card>
            </sq-facet-card>

            <!-- nth top pasages -->
            <sq-facet-card *ngIf="hasPassages" class="mt-3" #passagesFacet>
                <sq-top-passages #facet [results]="results" (previewOpened)="openMiniPreview($event.$record, $event.id)"
                    (titleClicked)="onTitleClick($event)" [collapsed]="passagesFacet._collapsed"></sq-top-passages>
            </sq-facet-card>

            <ng-container *ngIf="hasAnswers || hasPassages">
                <hr class="my-4">
                <div class="documents-title">
                    <i class="fas fa-file me-2"></i>Documents
                </div>
            </ng-container>

            <!-- List of documents (for loop) -->
            <div *ngFor="let record of results.records" class="record d-flex"
                (click)="onDocumentClicked(record, $event)"
                [ngClass]="{'selected': record.$selected || record === openedDoc}">
                <div class="flex-grow-1">
                    <div class="d-flex align-items-center">
                        <sq-result-selector *ngIf="ui.screenSizeIsGreaterOrEqual('md')" [record]="record"></sq-result-selector>
                        <sq-result-title [record]="record" (titleClicked)="openPreviewIfNoUrl(record, $event)"></sq-result-title>
                    </div>
                    <sq-result-source [record]="record" [displayTreepath]="true"></sq-result-source>
                    <sq-result-extracts [record]="record"></sq-result-extracts>
                    <sq-result-missing-terms [record]="record"></sq-result-missing-terms>

                    <sq-labels [record]="record" [public]="true"></sq-labels>
                    <sq-labels [record]="record" [public]="false"></sq-labels>
                </div>
                <sq-result-thumbnail [record]="record" [thumbnailColumn]="'sourcevarchar4'" [linkBehavior]="'action'"
                    *ngIf="ui.screenSizeIsGreater('xs')" class="align-self-center ms-3">
                </sq-result-thumbnail>
            </div>

            <!-- Infinite scroll -->
            <sq-scroller></sq-scroller>

            <!-- Pagination -->
            <!-- <sq-pager [results]="results" class="d-flex flex-column align-items-center mt-3"></sq-pager> -->
        </div>

        <!-- Right part-->
        <!-- sqSticky to update if you change the header sizing -->
        <div class="col-md-5 col-lg-4 col-xl-5" [sqSticky]="{top: 96, bottom: 30}">

            <!-- Without selected document -->
            <sq-facet-card *ngIf="!openedDoc" [collapsible]="false" [title]="'msg#facet.preview.documentPreview'"
                class="mb-3">
                <div class="no-record">
                    <img src="assets/sinequa-empty-preview.png" class="mb-3">
                    <p class="fw-bold">{{'msg#facet.preview.documentPreviewTitle' | sqMessage}}</p>
                    <p>{{'msg#facet.preview.documentPreviewDescription' | sqMessage}}</p>
                </div>
            </sq-facet-card>

            <!-- With selected document -->
            <sq-facet-card *ngIf="openedDoc" [collapsible]="false" [facetActionsAreSecondary]="true"
                [viewActionsAreSecondary]="true"
                secondaryActionsClass="position-absolute end-0 btn-group-vertical mt-4 me-3 bg-light rounded shadow on-hover"
                viewActionsClass="d-block btn-group mt-2" viewButtonsStyle="outline-primary" [actions]="previewCustomActions"
                actionsSize="" class="mb-3 facet-preview" #previewFacet>

                <ng-template #headerTpl>
                    <sq-result-title class="flex-grow-1" [record]="openedDoc" field="title" titleLinkBehavior="open-if-url">
                    </sq-result-title>
                </ng-template>

                <ng-template #subHeaderTpl>
                    <sq-metadata [record]="openedDoc" [items]="metadata" [showTitles]="false" [showIcons]="true"
                        [tabular]="false" [clickable]="false">
                    </sq-metadata>
                </ng-template>

                <ng-template [sqFacetView]="{text: 'msg#facet.preview.viewPreview'}">
                    <sq-facet-preview-2 #facet [record]="openedDoc" [query]="searchService.query" [height]="750"
                        (previewLoaded)="previewReady($event)">
                    </sq-facet-preview-2>
                </ng-template>

                <ng-template [sqFacetView]="{text: 'msg#facet.preview.viewPassages'}" [default]="!!passageId"
                    *ngIf="openedDoc.$hasPassages" #passagesList>
                    <sq-passage-list [record]="openedDoc" [passageId]="passageId"></sq-passage-list>
                </ng-template>
            </sq-facet-card>
        </div>
    </div>
</div>
