#logo {
    height: 40px;
}

.sq-facet-bar {
    position: relative;
    z-index: 1; // This is needed for dropdown menus from the facet actions not to be masked by the sq-filters-view which has position: relative
}

sq-filters-view ::ng-deep {
  .sq-simple-mode .sq-filter-action > span {
    display: none; // Display only button icons
  }
  .sq-simple-mode:not(:hover) .sq-filter-action {
    opacity: 0; // Hide buttons unless the component is hover
  }
  .sq-advanced-mode {
    z-index: 1;
    min-width: 100%;
  }
}

// Styling of the result items
.record {

    &:hover {
        background-color: rgb(0,0,0,0.03);
    }

    &.selected {
        background-color: rgb(0,0,0,0.05);
    }

    padding: 0.5em 15px;
    margin: 0 -15px;
    cursor: pointer;
    overflow: hidden;

    .flex-grow-1 {
      min-width: 0; // force the flex item to shrink to the parent size
    }
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.main {
    margin-top: 70px;
    margin-bottom: 20px;
}

// Selection / Action bar on top of results (position: fixed)
.card-action-bar {
    bottom: 10px;
    margin-left: 15px;
    z-index: 4;
}

// "Documents" title
.documents-title {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: .5rem;
    padding: 0 0.3rem;
}

// The default view in the mini preview when nothing is selected
.no-record {
    height: 750px;
    text-align: center;
    padding-top: 20%;

    img {
        width: 10rem;
    }
    p {
        max-width: 50%;
        margin: auto;
    }
}

.app-search-form {
    min-height: 41px;
}
