.main {
    margin-top: 1rem;
    margin-bottom: 20px;
}

#logo {
    content: url("/assets/sinequa-logo-light-sm.png");
    width: 40px;
    max-height: 40px;

    @media ( min-width: 1200px ) {
        content: url("/assets/sinequa-logo-light-lg.png");
        width: 160px;
    }
}

body.dark {
    #logo {
        content: url("/assets/sinequa-logo-dark-sm.png");
        width: 40px;
        max-height: 40px;

        @media ( min-width: 1200px ) {
            content: url("/assets/sinequa-logo-dark-lg.png");
            width: 160px;
        }
    }
}

.sq-facet-bar {
    position: relative;
    z-index: 1; // This is needed for dropdown menus from the facet actions not to be masked by the sq-filters-view which has position: relative
}

// Styling of the result items
.record {
    display: flex;
    padding: 0.5em 15px;
    margin: 0 -15px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: rgb(0, 0, 0, 0.03);
    }

    &.selected {
        background-color: rgb(0, 0, 0, 0.05);
    }

    .flex-grow-1 {
        min-width: 0; // force the flex item to shrink to the parent size
    }
}

// Selection / Action bar on top of results (position: fixed)
.card-action-bar {
    bottom: 10px;
    margin-left: 15px;
    z-index: 4;
}

// "Documents" title
.documents-title {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: .5rem;
    padding: 0 0.3rem;
}

// The default view in the mini preview when nothing is selected
.no-record ::ng-deep {
    .card {
        height: min(100vh, 100vh - 100px);
    }
    sq-collapse {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: clip; // similar to hidden, but forbids all scrolling
    }

    img {
        width: 10rem;
    }

    p {
        max-width: 50%;
        margin: auto;
    }
}

.app-search-form {
    flex-grow: 100;
    min-height: 41px;
}

/** ANIMATIONS **/
nav {
    opacity: .1;
    animation: apparition 0.8s ease-out forwards;
}

main,
.record {
    will-change: transform;
    opacity: 0;
    transform: translateY(50px);
    animation: apparition 0.8s ease-out forwards;
}

@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}