#logo {
    height: 30px;
}

// Styling of the result items
.record {

    &:hover {
        background-color: rgb(0,0,0,0.03);
    }

    &.selected {
        background-color: rgb(0,0,0,0.05);
    }

    padding: 0.5em 15px;
    margin: 0 -15px;
    cursor: pointer;
    
    sq-result-source {
        display: grid;
    }

    sq-result-thumbnail {
        margin-left: 1em;
    }
}

.full-width {
    flex-basis: 100%;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main {
    margin-top: 70px;
    margin-bottom: 20px;
}

// Selection / Action bar on top of results (position: fixed)
.card.action-bar {
    bottom: 10px;
    margin-left: 15px;
    z-index: 4;
}