<div *ngIf="query.filters" (sqClickOutside)="onClickOutside()">

  <div class="sq-simple-mode" [ngClass]="simpleModeClass" *ngIf="!advancedMode">
    <sq-filters
      [query]="query"
      [filter]="query.filters"
      [showField]="showField"
      [allowRemove]="allowRemove"
      (filterEdit)="onFiltersChange()"
    ></sq-filters>

    <span *ngIf="!isSimpleFilter">
      <span
        class="sq-filter-action ms-3"
        role="button"
        [sqTooltip]="'msg#filters.advanced' | sqMessage"
        (click)="toggleEdit()">
        <i class="fas fa-edit"></i>
      </span>

      <span
        class="sq-filter-action ms-2"
        role="button"
        [sqTooltip]="'msg#filters.clear' | sqMessage"
        (click)="clearFilters()">
        <i class="fas fa-times"></i>
      </span>
    </span>

  </div>

  <div class="sq-advanced-mode d-flex flex-row align-items-end" [ngClass]="advancedModeClass" *ngIf="advancedMode">
    <sq-filters-editor
      [query]="query"
      [filter]="query.filters"
      (filterEdit)="onFiltersChange()"
    ></sq-filters-editor>

    <span
      class="sq-filter-action ms-auto text-nowrap"
      role="button"
      (click)="toggleEdit()">
      <i class="fas fa-check"></i> {{'msg#filters.save' | sqMessage}}
    </span>
  </div>

</div>
