<h1>Search</h1>

<div class="row">
    <div class="col-12 mb-4">
        <p>Description</p>
    </div>
    <div class="col-12">
        <h3>Tabs</h3>
        <p>Tabs uses our Angular <code>sq-tabs</code> component that we style directly.</p>
        <div class="card">
            <div class="card-header">
                <sq-tabs [customtabs]="tabs" [showCounts]="false"></sq-tabs>
            </div>
            <div class="card-body">
                <app-code [code]="code1"></app-code>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3>Pagination</h3>
        <p>The pagination is handled with our <code>sq-pager</code> component that we style directly.</p>
        <div class="card">
            <div class="card-header">
                <ul class="pagination my-0">
                    <li *ngFor="let item of items" title="{{item.title | sqMessage:{values: {page: item.page} } }}"
                        class="page-item"
                        [ngClass]="{'active': item.active, 'disabled': item.disabled, 'sq-navigation': item.isNavigation, 'sq-page': item.isPage, 'sq-ellipsis': item.isEllipsis}">
                        <a class="page-link">
                            <span>{{item.display | sqNumber}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <app-code [code]="code2"></app-code>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3>Search bar</h3>
        <p>The search bar has no proper Angular component and allows many customization properties.</p>
        <p>Here is a very basic HTML setup for its base with inner buttons.</p>
        <div class="card">
            <div class="card-header">
                <div class="input-group">
                    <div class="form-control d-flex pe-1">
                        <!-- Search bar -->
                        <div class="d-flex w-100">
                            <input type="text" placeholder="Search for...">
                        </div>

                        <!-- Inner buttons -->
                        <button type="button" class="btn p-0 me-2">
                            <i class="fas fa-times-circle text-muted"></i>
                        </button>

                        <button type="button" class="btn p-0 me-2">
                            <i class="fas fa-brain"></i>
                        </button>
                    </div>

                    <!-- Search buttons -->
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <app-code [code]="code3"></app-code>
            </div>
        </div>
    </div>
</div>