<h1>Alerts</h1>

<div class="row">
    <div class="col-12 mt-4">
        <h3>Alerts</h3>
        <p>Alerts are not displayed in the code but using the <code>NotificationsService</code> service. There just is
            to add <code>sq-notifications</code> in the code and then to call the <code>info</code>,
            <code>success</code>, <code>warning</code> and <code>error</code> services to display the alerts.</p>
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary mx-2"
                        (click)="notificationsService.error('Lorem ipsum', undefined, 'ALERT');">
                    Alert
                </button>
                <button class="btn btn-primary mx-2"
                        (click)="notificationsService.success('Lorem ipsum', undefined, 'SUCCESS');">
                    Success
                </button>
                <button class="btn btn-primary mx-2"
                        (click)="notificationsService.warning('Lorem ipsum', undefined, 'WARNING');">
                    Warning
                </button>
                <button class="btn btn-primary mx-2"
                        (click)="notificationsService.info('Lorem ipsum', undefined, 'INFO');">
                    Info
                </button>
            </div>
            <div class="card-body">
                <!-- <pre><code [highlight]="code"></code></pre> -->
            </div>
        </div>
    </div>
</div>

<sq-notifications></sq-notifications>