<h1>Saved Queries Module</h1>

<div class="row">
    <div class="col-12 mb-4">
        <app-edit-saved-query></app-edit-saved-query>
    </div>
    <div class="col-12 mb-4">
        <app-export-query></app-export-query>
    </div>
    <div class="col-12 mb-4">
        <app-facet-recent-documents></app-facet-recent-documents>
    </div>
    <div class="col-12 mb-4">
        <app-facet-recent-queries></app-facet-recent-queries>
    </div>
    <div class="col-12 mb-4">
        <app-facet-saved-queries></app-facet-saved-queries>
    </div>
    <div class="col-12 mb-4">
        <app-manage-saved-queries></app-manage-saved-queries>
    </div>
    <div class="col-12 mb-4">
        <app-query-exporter></app-query-exporter>
    </div>
    <div class="col-12 mb-4">
        <app-saved-queries-menu></app-saved-queries-menu>
    </div>
</div>