.alert {
  --bs-alert-padding-x: 1.5rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

  &.alert-danger {
    --bs-alert-color: #{$white};
    --bs-alert-bg: #{$error-1};
    --bs-alert-border-color: #{$error-1};
  }

  &.alert-success {
    --bs-alert-color: #{$body-text-grey-1};
    --bs-alert-bg: #{$success-2};
    --bs-alert-border-color: #{$success-2};

    .sq-notification-icon {
      color: $success-1;
    }
  }

  &.alert-warning {
    --bs-alert-color: #{$body-text-grey-1};
    --bs-alert-bg: #{$warning-1};
    --bs-alert-border-color: #{$warning-1};

    .sq-notification-icon {
      color: $warning-2;
    }
  }

  &.alert-info {
    --bs-alert-color: #{$body-text-grey-1};
    --bs-alert-bg: #{$info-2};
    --bs-alert-border-color: #{$info-2};

    .sq-notification-icon {
      color: $info-1;
    }
  }

  hr {
    display: none;
  }

  .sq-notification-icon {
    margin-right: .65rem;
    font-size: 1rem;
  }

  .sq-notification-title {
    font-weight: 700;
    margin-right: .65rem;
  }

  .btn-close {
    padding: 0 2rem 0 1rem;
    height: 100%;
  }
}

.sq-notifications {
  overflow: initial;
}