
// labels-dropdown
sq-labels-dropdown {
    .sq-labels-dropdown-list {
        list-style: none;
        border: 0;
        padding: 0;
        margin-bottom: 0;
        .sq-labels-dropdown-item {
            a {
                // See .dropdown-menu > li > a (dropdowns.less)
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: $line-height-base;
                color: $dropdown-link-color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            // Hover, focus, active state
            & > a:hover,
            & > a:focus {
                text-decoration: none;
            }
            &.sq-active > a {                    
                text-decoration: none;
                color: $dropdown-link-active-color;
                background-color: $dropdown-link-active-bg;      
            }                
        }
    }
}

sq-result-labels {
    display: flex;

    & > span {
        flex-shrink: 0;
        margin-right: $spacer / 4;
    }
}

/* labels */
.sq-label-group {
    display: inline-block;
    &:not(:last-child) {
        margin-right: $spacer / 4;
    }
}

.sq-label-add {
    margin-right: $spacer / 4;
}

.sq-label {
    display: inline-block;
    margin-bottom: $spacer / 8;
}

.sq-labels-public .sq-label {
    @extend .badge;
    @include badge-variant(#5bc0de);
    color: black;
    &[href] {
        @include hover-focus {
            color: black;
        }
    }
}

.sq-labels-private .sq-label {
    @extend .badge;
    @include badge-variant(#f0ad4e);
    color: black;
    &[href] {
        @include hover-focus {
            color: black;
        }
    }
}

.sq-label-remove {
    margin-left: $spacer / 16;
}

.sq-label-input {
    @extend .form-control; 
    @extend .form-control-sm;
    display: inline;
    //height: $font-size-sm * $line-height-sm;
    padding-top: 0;
    padding-bottom: 0;
}
