/****************************************************
    Bootstrap configuration (overrides app-level)
****************************************************/
@use "../../../components/theme/breakpoints" as bp;

@use "../../../components/theme/bootstrap" with (
  $secondary: #515960,
  $navbar-padding-y: 1.25rem,
  $grid-breakpoints: bp.$grid-breakpoints,
  $container-max-widths: bp.$container-max-widths
);

// Sinequa global theme (contains Bootstrap)
@use "../../../components/theme/sinequa";

// File formats & metadata icons
@use "icons";

// SBA components custom CSS overrides
@use "vanilla";
