
@import "@angular/cdk/overlay-prebuilt";

@import "../../../components/theme/bootstrap-variables";

// Bootstrap styles
@import "bootstrap/scss/bootstrap";

// Fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

.btn-link {
  text-decoration: none;
}

// CDK drag & drop
.cdk-drag-preview {
    z-index: 2000 !important;
}

// Validation
sq-validation-message {
    @extend .invalid-feedback;
    .form-group > .is-invalid ~ & {
        display: block;
    }
}

// File formats & metadata icons
@import "icons";

// Preview stylings (incl. entity highlights & metadata)
@import "preview";

// Sinequa components stylesheets
$action-menu-breakpoint: sm;
@import "../../../components/action/bootstrap/action.scss";
@import "../../../components/notification/bootstrap/notification.scss";
@import "../../../components/metadata/metadata.scss";
@import "../../../components/advanced/bootstrap/advanced.scss";

// Sinequa global theme
@import "../../../components/theme/vanilla";
@import "../../../components/theme/vanilla-dark";

$secondary-color: #515960;

html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #3434d6;
}

.home {
    min-height: 100vh;
}

// thin scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  &:hover {
      background-color: #b6b6b6;
  }
}
::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

// large screens (> sm)
@include media-breakpoint-up(sm) {

    .sq-home-facet-bar {
        min-height: 287px;
    }

    .card {
        box-shadow: 0 5px 7px rgba(0,0,0,.08);
    }
}

app-search-form {

    // Styling for the scope component (for a clean rendering within the search form)
    sq-scope > div {
      height: 100%;
      button.btn {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

}

app-search nav {
    box-shadow: 1px 3px 4px 0px rgba(0,0,0,.08);
}


// Results list

sq-tabs {
    .nav-item .count {
        font-size: 0.875em;
        color: $secondary-color;
    }
}

sq-filters, sq-filters-editor {
  .sq-filter-operator {
    color: $secondary-color;
  }
  .sq-filter-value {
    font-weight: bold;
  }
}

sq-results-counter {
    color: $secondary-color;
}

sq-sort-selector button.btn {
    padding: 3px 5px;
    margin: -3px 0;
    color: $secondary-color;
    background-color: inherit;
    font-size: 1em;
    border: none;

    & > div {
        padding: 5px 0;
    }
}

sq-result-selector label{
    margin: 0 !important;
    margin-left: 4px;
}

sq-result-title {
    .record .match-highlight {
        font-weight: bold;
        font-style: italic;
    }
}

sq-result-extracts {
    p {
        color: $secondary-color;
        font-size: 0.875em;
    }
}

sq-result-missing-terms {
    color: $secondary-color;
    font-size: 0.875em;
}

sq-result-thumbnail img {
    max-width: 100px;
    max-height: 150px;
    border-radius: 3px;
}

sq-sponsored-results {
    .sponsored-item {
        margin-top: 0.75em;
    }
    .sq-sponsored-link-view-summary {
        color: $secondary-color;
        font-size: 0.875em;
    }
}

// Facets
sq-facet-card {
    display: block;
}

sq-facet-card.facet-preview sq-metadata {
    color: $secondary-color;
    font-size: 0.875em;
}

sq-facet-card.striped .list-group-item:not(.unstriped) {
    --bs-list-group-bg: #fbfbfb;

    &:nth-child(even) {
        --bs-list-group-bg: #f6f6f6;
    }
}

sq-feedback-menu {
    button.btn{
        border-radius: 50%;
        width: 38px;
        height: 38px;
        padding-left: 10px;
    }
    .dropdown-toggle::after{
        display: none;
    }
}

.sq-passage {
    .sq-passage-icon {
        color: var(--bs-primary);
    }
    .sq-passage-text {
        b {
            font-weight: 700;
        }
    }
}

// Flex basis classes
.flex-basis-0 {
    flex-basis: 0;
}

.flex-basis-auto {
    flex-basis: auto;
}

.extracts-date {
    font-weight: 500;
}

@import 'dark-mode';
