/****************************************************
    colors overrides
****************************************************/
$secondary: #515960;
$link-decoration: none;

$nav-link-color: rgb(0, 0, 0, 0.55);
$nav-link-hover-color: rgb(0, 0, 0, .7);

/****************************************************
    Dark colors
****************************************************/
$dark-color: #f8f9fa;
$dark-secondary: #c9c0c0;
$dark-background: #1c1e21;
$dark-background-highlight: rgb(255, 255, 255, 0.15);
$dark-background-hover: rgb(255, 255, 255, 0.08);
$dark-borders: #777373;
$dark-link: #9bccff;

$navbar-padding-y: 1.25rem;

@import "../../../components/theme/breakpoints";

// Sinequa global theme (contains Bootstrap imports)
// @import "../../../components/theme/minimal";
@import "../../../components/theme/sinequa";

// File formats & metadata icons
@import "icons";

// SBA components custom CSS overrides
@import "vanilla";

/**
* Incyte Entity Metadata Items
*/
.sq-metadata-item-docformat {
    color: #ffffff;
    background-color: #264653;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.sq-metadata-item-authors {
    color: black;
    background-color: #F4A261;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.sq-metadata-item-projectMetadata {
    color: #ffffff;
    background-color: #606C38;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.sq-metadata-item-experimentTitle {
    color: #ffffff;
    background-color: #0126a1;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.sq-metadata-item-experimentID{
    color: #ffffff;
    background-color: #0126a1;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.sq-metadata-item-compoundCSV{
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
