
// DARK MODE

$dark-color: #f8f9fa;
$dark-secondary: #c9c0c0;
$dark-background: #1c1e21;
$dark-background-highlight: rgb(255,255,255,0.15);
$dark-background-hover: rgb(255,255,255,0.08);
$dark-borders: #777373;
$dark-link: #9bccff;

body.dark {

    background-color: $dark-background;
    color: $dark-color;

    // Bootstrap components dark mode

    a:not(.btn):not(.badge) {
        color: $dark-link;
    }

    .btn-link {
        color: $dark-color;
    }

    a.card {
        color: inherit;
    }

    .card {
        --bs-card-bg: #{$dark-background};
        --bs-card-border-color: #{$dark-borders};
        box-shadow: 0px 3px 9px 2px $dark-background-highlight;

        .card-header {
            --bs-card-cap-bg: #{$dark-background-highlight};
            --bs-card-border-color: #{$dark-borders};
        }
    }

    .navbar-dark .navbar-nav .nav-link {
        color: $dark-color;

        &.disabled {
            color: $dark-secondary;
        }
    }

    .btn-dark:not(:hover) {
        border-color: transparent;
        background-color: inherit;
    }

    .btn-dark:not(:disabled):not(.disabled):active,
    .btn-dark:not(:disabled):not(.disabled).active,
    .show > .btn-dark.dropdown-toggle {
        background-color: $dark-background-highlight;
        border-color: $dark-borders;
    }

    .dropdown .dropdown-divider {
        border-color: $dark-borders;
    }

    .list-group {

        .list-group-item {
            color: $dark-color;
            background-color: inherit;
        }

        .list-group-item-action {
            color: inherit;
            border-color: $dark-borders;

            &:active {
                background-color: $dark-background-highlight;
                color: #fff;
            }

            &:focus, &:hover {
                background-color: #3f4346;
                color: #fbfdff;
            }
        }

        .list-group-item-primary {
            color: #004085 !important;
            background-color: #b8daff !important;

            a {
                color: inherit;
            }

            .text-muted {
                color: #5c6e80 !important;
            }
        }

        .list-group-item-success {
            color: #155724 !important;
            background-color: #c3e6cb  !important;

            a {
                color: inherit;
            }

            .text-muted {
                color: #5c6e80 !important;
            }
        }
    }

    .text-muted {
        color: #c1cad2 !important;
    }

    ul.dropdown-menu {
        background: #1c1e21;
        border-color: $dark-borders;

        a {
            color: #f8f9fa;
        }

        .dropdown-item:hover, .dropdown-item:focus {
            background-color: #3f4346;
            color: #fbfdff;
        }
    }

    @include media-breakpoint-up(sm) {
        .navbar-right, .dropdown-menu-end {
            .dropdown-submenu > a:before {
                border-right-color: rgba(255, 255, 255, 0.5);
            }
            .dropdown-submenu:hover > a:before {
                border-right-color: rgba(255, 255, 255, 0.85);
            }
        }
    }

    .modal-content {
        background-color: $dark-background;
        border-color:$dark-borders;

        .modal-header {
            border-color:$dark-borders;
        }

        .modal-footer {
            border-color:$dark-borders;
        }

        .btn:not(.btn-primary):not(.btn-secondary) {
            color: $dark-color;
        }
    }

    .passages-toggle {
        color: $dark-color;
    }

    app-search-form {
        box-shadow: 0px 0px 15px 4px $dark-background-highlight;

        .list-group-item:not(.list-group-item-primary){
            .autocomplete-item {
                small, i {
                    color: $dark-secondary;
                }
            }
        }
    }

    app-search nav {
        box-shadow: 1px 3px 4px 0px $dark-background-highlight;
    }


    sq-tabs {
        .nav-tabs {
            border-bottom: 1px solid $dark-borders;

            .nav-item .count, .nav-link.disabled {
                color: $dark-secondary;
            }

            .nav-link.active, .nav-item.show .nav-link {
                color: $dark-color;
                background-color: transparent;
                border-color: $dark-borders $dark-borders $dark-background;
            }
            .nav-link:hover, .nav-link:focus {
                border-color: #666363 #666363 $dark-borders;
            }
        }
    }

    sq-breadcrumbs {
        .breadcrumbs, .breadcrumb-item, .breadcrumb-item.active {
            color: $dark-secondary;
        }
    }

    sq-results-counter {
        color: $dark-secondary;
    }

    sq-sort-selector button.btn {
        color: $dark-secondary;
    }

    sq-sponsored-results {
        .sq-sponsored-link-view-summary {
            color: $dark-secondary;
        }
    }

    .record {

        &:hover {
            background-color: $dark-background-hover;
        }

        &.selected {
            background-color: $dark-background-highlight;
        }

        sq-result-source {
            span, a:not(.btn):not(.badge) {
                color: #a9c7b4;
            }
        }

        sq-result-extracts {
            p {
                color: $dark-secondary;
            }
        }

        sq-result-missing-terms {
            color: #b8b2b2;
        }
    }

    sq-facet-card.facet-preview {
        .card-header {
            sq-metadata {
                color: $dark-secondary;
            }
        }
    }

    sq-pager {
        .page-link {
            background-color: transparent;
            border-color: $dark-borders;
        }

        .page-item.disabled .page-link {
            background-color: transparent;
            border-color: $dark-borders;
        }

        .page-link:hover {
            background-color: $dark-background-hover;
            border-color: $dark-borders;
        }
    }

    app-preview {
        .border-top, .border-right {
            border-color: $dark-borders;
        }
    }

    sq-facet-mysearch {
        .sq-metadata-item {
            background-color: $dark-background;

            &:hover {
                background-color: $dark-background;
                opacity: 0.8;
            }
        }
    }
}
