<div class="d-flex flex-wrap align-items-center mb-1" *ngIf="gridActions.length > 0 || showCounter">
    <div class="btn-group" [sq-action-buttons]="{items: gridActions, style: 'primary', rightAligned: false}"></div>
    
    <sq-results-counter [rowCount]="datasource?.rowCount" class="ml-3" *ngIf="showCounter"></sq-results-counter>
</div>

<!-- Data Table -->
<ag-grid-angular
    [ngClass]="theme"
    [ngStyle]="{width: width, height: height}"

    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [enableBrowserTooltips]="true"
    [suppressPropertyNamesCheck]="true"
    
    [rowSelection]="rowSelection"

    [rowModelType]="'infinite'"
    [cacheBlockSize]="appService.ccquery?.pageSize || 20"
    [blockLoadDebounceMillis]="300"
    
    [frameworkComponents]="frameworkComponents"

    (gridReady)="onGridReady($event)"
    (rowDataChanged)="onRowDataChanged($event)"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (sortChanged)="onSortChanged($event)"
    (filterChanged)="onFilterChanged($event)"
    (filterModified)="onFilterModified($event)"
>
</ag-grid-angular>