<sq-modal [title]="model.column">
    <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="format-popup" [(ngModel)]="formatContent" (ngModelChange)="updateData()">
        <label class="form-check-label" for="format-popup" role="button">{{'msg#grid.formatData' | sqMessage}}</label>
    </div>

    <pre class="border mb-0 p-1">{{data}}</pre>

    <div footer class="btn-group"
        [sq-action-buttons]="{
            items: [copyAction],
            rightAligned: true,
            style: 'primary'
        }">
    </div>
</sq-modal>
