:host {
  display: block;
}

:host-context()
.sq-tooltip {
  background-color: #494949;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 14px;
  max-width: 280px;
}

:host-context(.dark)
.sq-tooltip {
  background-color: #f0f0f0;
  color: #606060;
}