
.vtabs{
    display: flex;
}

.tabs-col {
    flex-shrink: 0;
    margin-right: 10px;
}

.view {
    flex-grow: 1;
}

.nav {
    text-align: right;
}

.nav-link {
    padding: 0 10px 0 0;
    border-right: 4px solid transparent;
}

.nav-link.active {
    border-color: #007bff;
    border-radius: 3px;
    color: #007bff;
}

