<svg [attr.viewBox]="'0 0 '+width+' '+height">

    <g [attr.transform]="'translate('+margin.left+','+ margin.top +')'">

        <g #overlay>
            <rect *ngFor="let category of categories"
                class="category"
                [attr.x]="x(category)"
                [attr.width]="x.bandwidth()"
                [attr.height]="innerHeight">
                <title>{{category}}</title>
            </rect>
        </g>

        <!-- X Axis (built in the controler) -->
        <g #xAxis class="x axis" [attr.transform]="'translate(0,'+ innerHeight +')'"></g>

        <!-- Y Axis (built in the controler) -->
        <g #yAxis class="y axis"></g>

        <circle *ngFor="let datum of data"
            class="datum"
            [attr.cx]="x(datum.category)! + x_inner(datum.i)!"
            [attr.cy]="y(datum.value)"
            [attr.r]="r(datum.count)"
            [attr.fill]="selectedItems.has(datum.rawvalue)? 'red' : c(datum.currency)"
            (mouseenter)="onMouseEnterDatum(datum)">
        </circle>

    </g>

</svg>

<!-- Tooltip -->
<sq-tooltip class="text-center" [manager]="tooltipManager" [theme]="theme">
  <ng-template let-data>
    <div>
        "{{data.category}} {{data.currency}} {{formatService.moneyFormatter(data.value)}}"
        <small>({{data.count}} mentions)</small>
        <button (click)="filterDatum(data)" class="btn btn-sm btn-link" [sqTooltip]="'msg#money.filter' | sqMessage">
            <i class="fas fa-filter"></i>
        </button>
    </div>
  </ng-template>
</sq-tooltip>
