.metadata-inline {
    sq-metadata {
        display: inline-flex;
        margin-right: .5rem;
    }
}

.metadata-flex {
    sq-metadata {
        display: flex;
    }
}

.metadata-inline,
.metadata-flex {
    sq-metadata ::ng-deep .sq-metadata-col:before {
        vertical-align: sub;
    }
}

.metadata-tabular {
    sq-metadata {
        display: table-row;

        ::ng-deep .sq-metadata-col {
            display: table-cell;
        }
    }
}