<div class="metadata-{{style}}">
    <ng-container *ngFor="let c of config">
        <sq-metadata *ngIf="!isString(c)"
            [record]="record"
            [query]="query"
            [item]="c.item"
            [icon]="c.icon"
            [itemClass]="c.itemClass"
            [color]="c.color"
            [bgColor]="c.bgColor"
            [filterable]="c.filterable"
            [excludable]="c.excludable"
            [showEntityTooltip]="c.showEntityTooltip"
            [actions]="c.actions"
            [separator]="c.separator"
            [style]="style"
            [showIcon]="showIcons"
            [showFormatIcon]="showFormatIcons"
            [showTitle]="showTitles"
            [showFiltersHighlights]="showFiltersHighlights"
            [collapseRows]="collapseRows"
            (filter)="filter.emit($event)"
            (exclude)="exclude.emit($event)">
        </sq-metadata>
        <span *ngIf="isString(c)">{{c | sqMessage}}</span>
    </ng-container>
</div>