.metadata-inline {
    sq-metadata {
        display: inline-flex;
    }
}

.metadata-table {
    sq-metadata {
        display: table-row;
    }
}

 // right margin if the metadata has another metadata after it, and has some content
sq-metadata:has(+ sq-metadata):has(.sq-metadata-col) {
    margin-right: 1rem;
}