<sq-facet-card [title]="title">
    <div class="row p-3">
        <div class="{{componentClass}}">
            <ng-content></ng-content>
        </div>
        <div class="{{codeClass}}">
            <ng-container *ngIf="isArray">
                <app-code *ngFor="let c of code; let i = index;" [code]="c" [addSpacer]="i < code.length-1"></app-code>
            </ng-container>
            <ng-container *ngIf="!isArray">
                <app-code [code]="code"></app-code>
            </ng-container>
        </div>
    </div>
</sq-facet-card>