<div *ngIf="record.$metadataValues" class="metadata-{{style}}">
    <sq-metadata-2 *ngFor="let config of record.$metadataValues"
        [record]="record"
        [query]="query"
        [config]="config"
        [style]="style"
        [customClass]="customClass"
        [showIcon]="showIcons"
        [showTitle]="showTitles"
        [showCounts]="showCounts"
        (filter)="filterItem($event.item, $event.valueItem)"
        (exclude)="excludeItem($event.item, $event.valueItem)">
    </sq-metadata-2>
</div>