
:host {
  display: block;
  position: relative;
  overflow: hidden;
}

iframe {
  height: calc(100% / var(--sq-scale));
  width: calc(100% / var(--sq-scale));
  transform: scale(var(--sq-scale));
  transform-origin: 0 0;
  border-radius: var(--bs-card-inner-border-radius, .375rem);
}
