
<sq-loading-bar [active]="loading"></sq-loading-bar>

<iframe *ngIf="safeUrl"
  #preview
  [src]="safeUrl"
  sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-same-origin allow-scripts"
  [style.--sq-scale]="scale"
  (load)="onLoad()">
</iframe>

<sq-preview-tooltip *ngIf="tooltip$ | async as tooltip"
  [position]="tooltip.position"
  [entity]="tooltip.entity"
  [text]="tooltip.selectedText"
  [actions]="tooltip.actions"
  [scale]="scale"
  (preventHide)="cancelHideTooltip()"
  (resumeHide)="initHideTooltip()"
  (selectEntity)="selectEntity($event)">
</sq-preview-tooltip>

<sq-preview-minimap *ngIf="minimap$ | async as minimap"
  [locations]="minimap.locations"
  [passageLocation]="minimap.passageLocation"
  [selectedId]="selectedId$ | async"
  (select)="select($event)">
</sq-preview-minimap>
