<svg [attr.viewBox]="'0 0 '+width+' '+height">

    <g [attr.transform]="'translate('+margin.left+','+ margin.top +')'">

        <!-- dummy rectangle to capture mouse events -->
        <rect #overlay [attr.width]="innerWidth" [attr.height]="innerHeight" fill="none" pointer-events="all"></rect>

        <!-- Tooltip line -->
        <g *ngIf="showTooltip && tooltipX" pointer-events="none">
            <line [attr.x1]="tooltipX" [attr.x2]="tooltipX" y1="0" [attr.y2]="innerHeight" class="tooltip-line"></line>
            <text [attr.x]="tooltipX < innerWidth*0.55 ? tooltipX + 5 : tooltipX - 5" y="10"
                [attr.text-anchor]="tooltipX < innerWidth*0.55 ? 'start' : 'end'" class="tooltip-text">
                {{ x.invert(tooltipX) | sqDate }}
            </text>
        </g>

        <!-- X Axis (built in the controler) -->
        <g #xAxis class="x axis" [attr.transform]="'translate(0,'+ innerHeight +')'"></g>

        <!-- Y Axis (built in the controler) -->
        <g #yAxis class="y axis"></g>

        <circle *ngFor="let datum of data"
            class="datum"
            [attr.cx]="x(datum.date)"
            [attr.cy]="y(datum.value)"
            [attr.r]="r(datum.count)"
            [attr.fill]="c(datum.record.id)"
            (mouseenter)="onMouseEnterDatum(datum)">
        </circle>

    </g>

</svg>

<!-- Tooltip -->
<sq-tooltip *ngIf="tooltipItem" class="text-center"
    [orientation]="tooltipOrientation" [left]="tooltipLeft" [right]="tooltipRight" [top]="tooltipTop">
    <strong>{{tooltipItem.record.title}}</strong>
    <button (click)="onRecordClicked(tooltipItem)" class="btn btn-sm btn-link" [sqTooltip]="'msg#money.inspect' | sqMessage">
        <i class="fas fa-search"></i>
    </button>
    <div>
        "{{tooltipItem.currency}} {{yFormatter(tooltipItem.value)}}"
        <small>({{tooltipItem.count}} mentions)</small>
        <button (click)="filterDatum(tooltipItem)" class="btn btn-sm btn-link" [sqTooltip]="'msg#money.filter' | sqMessage">
            <i class="fas fa-filter"></i>
        </button>
    </div>
    <small>{{tooltipItem.date | sqDate}}</small>
</sq-tooltip>