<h1>Modal Module</h1>

<div class="row">
    <div class="col-12 mb-4">
        <app-confirm></app-confirm>
    </div>
    <div class="col-12 mb-4">
        <app-editable></app-editable>
    </div>
    <div class="col-12 mb-4">
        <app-help></app-help>
    </div>
    <div class="col-12 mb-4">
        <app-login></app-login>
    </div>
    <div class="col-12 mb-4">
        <app-modal></app-modal>
    </div>
    <div class="col-12 mb-4">
        <app-modal-footer></app-modal-footer>
    </div>
    <div class="col-12 mb-4">
        <app-modal-header></app-modal-header>
    </div>
    <div class="col-12 mb-4">
        <app-override-user></app-override-user>
    </div>
    <div class="col-12 mb-4">
        <app-prompt></app-prompt>
    </div>
</div>