@import "../../../../components/theme/colors";
@import "../../styles/variables";

ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding-left: 1rem;
  border-left: $sq-border;
  line-height: 1.7rem;
  font-weight: 300;
  text-transform: capitalize;

  &.active {
    border-color: $blue-100;
    font-weight: 400;
  }
}

a {
  text-decoration: none;
  color: inherit;
}