.metadata-table {
    sq-metadata-item {
        display: table-row;
    }
}

 // right margin if the metadata has another metadata after it, and has some content
sq-metadata-item:has(+ sq-metadata-item):has(.sq-metadata-col) {
    margin-right: 1rem;
}