<div class="metadata-{{layout}}">
    <ng-container *ngFor="let c of config">
        <sq-metadata-item *ngIf="!isString(c)"
            [record]="record"
            [query]="query"
            [item]="c.item"
            [icon]="c.icon"
            [itemClass]="c.itemClass"
            [filterable]="c.filterable"
            [excludable]="c.excludable"
            [showPopover]="c.showPopover"
            [actions]="c.actions"
            [separator]="c.separator"
            [layout]="layout"
            [showFormatIcon]="showFormatIcons"
            [showTitle]="showTitles"
            [showFiltersHighlights]="showFiltersHighlights"
            [collapseRows]="collapseRows">
        </sq-metadata-item>
        <span *ngIf="isString(c)">{{c | sqMessage}}</span>
    </ng-container>
</div>