<google-map *ngIf="gmaps.ready | async"
  [center]="center"
  [zoom]="2"
  [options]="options"
  [width]="width"
  [height]="height"
  (mapInitialized)="init($event)"
  (mapClick)="onMapClick($event)">

  <map-marker *ngFor="let record of geoRecords"
    #marker="mapMarker"
    [position]="record.position"
    [options]="record.options"
    (mapClick)="onMarkerClick($event, marker, record)">
  </map-marker>

  <map-info-window>
    <ng-container *ngTemplateOutlet="infoWindowsTpl || defaultWindowsTpl; context: {$implicit: clickedRecord}" >
    </ng-container>
    <ng-template #defaultWindowsTpl let-record>
      {{record?.title}}
    </ng-template>
  </map-info-window>

</google-map>
