<div class="row justify-content-center image-container">
    <img
        class="result-image"
        src="{{record?.originalUrl}}"
        title="{{record?.filename}}"
        (click)="click()"
    >
</div>

<div class="mt-2">
    <span>{{record.modified | sqDate:dateFormat}}</span>
</div>

<div class="d-flex mt-1 align-items-center">
    <sq-result-title class="image-title me-auto" [record]="record"></sq-result-title>
</div>

<div class="d-flex mt-1 align-items-center">
    <sq-result-source [record]="record" [displayTreepath]="true" [displayUrl]="false" [displayTreepathMaxLevel] = 2></sq-result-source>
</div>

