.advanced-search {
    margin-top: .5rem;
    padding: .5rem 1rem .5rem .5rem;
    border: 0;
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,.08);

    .card-header {
        --bs-card-border-width: 0;
        --bs-card-cap-bg: transparent;
        --bs-card-cap-color: #{$blue-1};
        font-weight: 600;
        font-size: 1.15rem;
    }

    label {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    sq-advanced-form-multi-input {
        margin-bottom: 1rem;
    }
}