.badge {
    font-size: 0.85rem;
    line-height: 1.35rem;
    font-weight: 400;

    &:not(.sq-small-badge) {
        --bs-badge-padding-x: 0.625rem;
        --bs-badge-padding-y: 0.25rem;
    }
}