.breadcrumb {
  --bs-breadcrumb-divider: ">";
  --bs-breadcrumb-item-active-color: #{$body-text-grey-1};
  --bs-breadcrumb-margin-bottom: 0;

  .breadcrumb-item:not(.active) {
    font-weight: 700;
    text-decoration: underline;

    span {
      cursor: pointer;
    }
  }
}