.btn-group,
.btn-group-vertical {
  .btn:not(.btn-link) {
    box-shadow: none !important;
  }
}

/**
All buttons styling (except btn-link)
*/
.btn {
  // base params
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: .8rem;
  --bs-btn-border-radius: .3rem;
  --bs-btn-border-width: .1rem;
  --bs-btn-focus-box-shadow: none;

  transition: $sq-transition;
  box-shadow: $sq-box-shadow;

  &.no-shadow {
    box-shadow: none;
  }

  //focus
  &:focus {
    outline: $sq-focus-outline;
  }

  &:focus-visible {
    color: var(--bs-btn-hover-color);
  }

  /**
  Buttons
  */
  &.btn-primary {
    --bs-btn-color: #{$white};
    --bs-btn-bg: var(--primary, #{$blue-1});
    --bs-btn-border-color: transparent;
    // hover
    --bs-btn-hover-color: #{$white};
    --bs-btn-hover-bg: var(--primary-400, #{$blue-hover});
    --bs-btn-hover-border-color: transparent;
    // disabled
    --bs-btn-disabled-color: #{$white};
    --bs-btn-disabled-bg: var(--primary-100, #{$blue-focus});
    // active
    --bs-btn-active-color: #{$white};
    --bs-btn-active-bg: var(--primary-400, #{$darker-blue});
    --bs-btn-active-border-color: transparent;
  }

  /**
  Outline
  */
  &.btn-outline-light,
  &.btn-outline-primary {
    --bs-btn-color: var(--primary, #{$blue-1});
    --bs-btn-bg: transparent;
    --bs-btn-border-color: var(--primary, #{$blue-1});
    // hover
    --bs-btn-hover-color: var(--primary-400, #{$blue-hover});
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--primary-400, #{$blue-hover});
    // disabled
    --bs-btn-disabled-color: var(--primary-200, #{$blue-focus});
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary-200, #{$blue-focus});
    // active
    --bs-btn-active-color: var(--primary-400, #{$darker-blue});
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: var(--primary-400, #{$darker-blue});

    box-shadow: none;
  }

  &.btn-outline-light {
    --bs-btn-color: #{$white};
    --bs-btn-border-color: #{$white};
    // hover
    --bs-btn-hover-color: var(--primary-400, #{$blue-hover});
    --bs-btn-hover-border-color: var(--primary-400, #{$blue-hover});
    // disabled
    --bs-btn-disabled-color: #{$white};
    --bs-btn-disabled-border-color: #{$white};
    --bs-btn-disabled-opacity: .5;
    // active
    --bs-btn-active-color: #{$white};
    --bs-btn-active-bg: var(--primary-200, #{$blue-selection});
    --bs-btn-active-border-color: #{$white};
  }

  /**
  Dropdown button
  */
  &.dropdown-toggle {

    &.is-valid,
    &.is-invalid {
      padding-right: 1.5rem;
      background-image: none;
    }

    &.is-valid,
    &.is-valid:hover {
      --bs-btn-border-color: #{$success-1};
      --bs-btn-hover-border-color: #{$success-1};
    }

    &.is-invalid,
    &.is-invalid:hover {
      --bs-btn-border-color: #{$error-1};
      --bs-btn-hover-border-color: #{$error-1};
    }
  }

  /**
  Floating action button
  */
  &.btn-fab {
    border-radius: 99rem;
    --bs-btn-padding-x: 1.1rem;

    i {
      margin-right: 0;
    }
  }

  /**
  Squared button
  */
  &.btn-square {
    --bs-btn-padding-x: 1.2rem;
  }
}

.btn-link {
  box-shadow: none;
  &:hover {
    color: $body-text-grey-1 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

/**
Footer action buttons
*/
.card-action-bar {
  .btn-primary {
    box-shadow: none !important;
  }
}

sq-results-selector .btn {
  --bs-btn-padding-x: 0.5rem !important;
  --bs-btn-padding-y: 0.25rem !important;
}
