:root {
    --bs-primary-rgb: var(--primary-rgb, #{$blue-1-rgb});
  
    .list-group {
      --bs-list-group-bg: #{$list-group-bg};
      --bs-list-group-action-active-bg: #{$blue-selection};
    }
  
    .card {
      --bs-card-cap-bg: var(--brand-300, #{$blue-focus});
      --bs-card-cap-color: var(--sq-text, #{$body-text-grey-1});
      --bs-link-color: var(--text1, #{$body-text-grey-1});
    }
  
    .dark .card {
      --bs-card-cap-color: #{$white};
    }
  }