sq-facet-card {
  .card {
    --bs-card-border-width: 0;
    border-radius: var(--bs-card-inner-border-radius);
    box-shadow: $sq-box-shadow;

    &.striped-card {
      .list-group-item {
        --bs-list-group-bg: #{$facet-white-1};

        &:nth-child(even) {
          --bs-list-group-bg: #{$facet-white-2};
        }
      }
    }
  }

  .card-header {
    --bs-card-border-width: 0;
    padding: .4rem .8rem .4rem 1.5rem !important;

    .card-icon.primary-icon {
      color: var(--primary, #{$blue-1});
    }

    .card-action {
      font-size: 1rem;
    }

    sq-result-title {
      font-weight: 600;
      font-size: 1.15rem;
    }

    .sq-view-actions .btn {
      font-size: 1rem;
      font-weight: 400;
    }

    .btn {
      --bs-btn-padding-x: .5rem;
      --bs-btn-padding-y: .25rem;
      --bs-btn-hover-color: #{$white} !important;
      --bs-btn-hover-bg: var(--brand, #{$blue-1}) !important;
      --bs-btn-hover-border-color: var(--brand, #{$blue-1}) !important;
      --bs-btn-active-color: #{$white} !important;
      --bs-btn-active-bg: var(--brand-400, #{$darker-blue}) !important;
      --bs-btn-active-border-color: var(--brand-400, #{$darker-blue}) !important;
      --bs-btn-disabled-color: #{$body-text-grey-1} !important;
      --bs-btn-disabled-bg: transparent !important;
      --bs-btn-disabled-border-color: transparent !important;
      margin: 0 !important;
    }

    .btn-light {

      &:hover,
      &.active {
        background-color: var(--brand-400, #{$darker-blue});
        border-color: var(--brand-400, #{$darker-blue});
      }

      &.active:hover {
        background-color: var(--brand-400, #{$darker-blue});
        opacity: .6;
      }
    }

    .btn-outline-primary {
      --bs-btn-hover-bg: var(--brand-400, #{$darker-blue}) !important;
      --bs-btn-hover-border-color: var(--brand-400, #{$darker-blue}) !important;
    }
  }

  /**
  The list below the card header
   */
  .list-group {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);

    .list-group-item:not(.sq-passage) {
      --bs-list-group-border-width: 0;
      --bs-list-group-color: #{$body-text-grey-1};
      padding: .4rem 1.5rem !important;
    }

    .list-group-item-primary,
    .list-group-item-primary.list-group-item-action:hover,
    .list-group-item-primary.list-group-item-action:focus {
      background-color: var(--bs-list-group-action-active-bg, #{$blue-selection});
    }
  }

  /**
  List elements
   */
  sq-facet-tree {
    a {
      --bs-link-color: #{$body-text-grey-1};
      --bs-link-hover-color: #{$body-text-grey-1};
      color: $body-text-grey-1;
      text-decoration: none;

      // the text on the right side (elements nb, ...)
      span.small {
        font-weight: 300;
      }
    }
  }

  /**
  Header buttons
   */
  .btn-light {
    --bs-btn-color: #{$body-text-grey-1} !important;
    --bs-btn-bg: transparent !important;
    --bs-btn-border-width: 0 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #d3d4d5 !important;
    --bs-btn-hover-border-color: #c6c7c8 !important;
    --bs-btn-focus-shadow-rgb: 211, 212, 213 !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #c6c7c8 !important;
    --bs-btn-active-border-color: #babbbc !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #000 !important;
    --bs-btn-disabled-bg: #f8f9fa !important;
    --bs-btn-disabled-border-color: #f8f9fa !important;
    --bs-btn-padding-y: 0.25rem !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-font-size: 0.875rem !important;
    --bs-btn-border-radius: 0.25rem !important;
    box-shadow: none !important;

    &.sq-secondary-btn {
      --bs-btn-bg: #{$white} !important;
      --bs-btn-border-radius: 0 !important;
      border-radius: 0 !important;
    }

    &.preview-btn {
      --bs-btn-padding-y: .8rem !important;
      --bs-btn-padding-x: 1rem !important;
    }
  }

  .sq-secondary-actions {
    margin-top: 1rem !important;
  }
}

sq-facet-tree,
sq-facet-list {
  .btn-group .btn {
    --bs-btn-padding-y: 0.12rem !important;
    --bs-btn-padding-x: 0.25rem !important;
  }
}

sq-facet-date {
  .rounded-pill {
    --bs-btn-padding-x: .5rem !important;
    --bs-btn-padding-y: .25rem !important;
  }
}

/**
  Dark mode
 */
.dark sq-facet-card .card-header {
  .btn-light {

    &:hover,
    &.active {
      background-color: var(--brand-400, #{$dark-secondary});
      border-color: var(--brand-400, #{$dark-secondary});
      color: $black;
    }

    &.active:hover {
      background-color: var(--brand-400, #{$dark-secondary});
      opacity: .6;
    }
  }



}

