nav {

    &.navbar {
        @include media-breakpoint-up(sm) {
            --bs-navbar-padding-y: 1.25rem;
        }

        background-color: var(--brand, #{$white});

        .nav-link {
            color: var(--sq-text, var(--bs-nav-link-color));

            &:hover,
            &:focus {
                color: var(--sq-text-hover, var(--bs-nav-link-hover-color));
            }
        }
    }
}
