@use "../bootstrap" as bs;
@use "../tokens" as *;

.pagination {
  font-weight: $pagination-font-weight;

  .page-link {
    border-radius: bs.$pagination-border-radius;
    margin: 0 .2rem;
  }
}