.facet-preview {
    .card-header {
        padding: 1rem 1.25rem !important;
    }
    
    // Title
    .sq-result-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: $body-text-grey-1;
    }

    /**
    Metadata
     */
    sq-metadata {
        margin-top: .3rem;
        font-weight: normal;
    }

    // the corner buttons next to the title
    .btn-light {
        --bs-btn-font-size: 1rem !important;
    }

    // the big action buttons
    .sq-action-buttons {
        :not(.btn-expand) .btn-primary {
            --bs-btn-bg: #{$warning-1};
            --bs-btn-hover-bg: #{$blue-hover};
            --bs-btn-active-bg: #{$blue-1};
            box-shadow: none;
        }
    }
}