.facet-preview {
    .card-header {
        padding: 1rem 1.25rem !important;
    }
    
    // Title
    .sq-result-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: $body-text-grey-1;
    }

    /**
    Metadata
     */
    sq-metadata {
        margin-top: .3rem;
    }

    sq-metadata-item {
        display: inline !important;
        font-weight: 300;

        .sq-metadata-item {
            font-size: 1rem;
            padding: .3rem 1.2rem 0 0;
            display: inline-table !important;
        }
    }

    // Hide the metadata labels (still available on hover)
    .sq-metadata-item-label {
        display: none !important;
    }

    // the corner buttons next to the title
    .btn-light {
        --bs-btn-font-size: 1rem !important;
    }

    // the big action buttons
    .sq-action-buttons {
        :not(.btn-expand) .btn-primary {
            --bs-btn-bg: #{$warning-1};
            --bs-btn-hover-bg: #{$blue-hover};
            --bs-btn-active-bg: #{$blue-1};
            box-shadow: none;
        }
    }
}