.form-check-input[type=radio] {
  border: $sq-border;
  transition: $sq-transition;

  &:focus {
    outline: $sq-focus-outline;
  }

  &:hover {
    border-color: $grey-5;
  }

  &:checked {
    background-image: none;
    background-color: $grey-5;
    border-color: $grey-5;
    box-shadow: inset 0 0 0 .14rem $white;
  }

  &.was-validated:valid {
    border-color: $success-1;

    &:checked {
      background-color: $success-1;
    }
  }

  &.was-validated:invalid {
    border-color: $error-1;

    &:checked {
      background-color: $error-1;
    }
  }

  &:disabled {
    background-color: $grey-3;
    border-color: $grey-5;
    opacity: 1;

    &:checked {
      background-color: $grey-5;
      box-shadow: inset 0 0 0 .14rem $grey-3;
    }
  }
}