<sq-modal [title]="'msg#dashboard.addWidgetModalTitle'" [buttons]="buttons">
    <div class="d-flex justify-content-center" [sq-action-buttons]="{items: actions, style: theme}"></div>
    <div class="form-inline m-2" *ngIf="model.selectedOption">
        {{ 'msg#dashboard.addWidgetSize' | sqMessage }}:
        <select value="2" class="form-control form-control-sm mr-1 ml-2" title="{{ 'msg#dashboard.addWidgetWidth' | sqMessage }}" (change)="updateWidth($event)">
            <option *ngFor="let o of colsOptions" [selected]="o === model.selectedOption.defaultCols">{{o}}</option>
        </select>
        x
        <select value="2" class="form-control form-control-sm ml-1" title="{{ 'msg#dashboard.addWidgetHeight' | sqMessage }}" (change)="updateHeight($event)">
            <option *ngFor="let o of rowsOptions" [selected]="o === model.selectedOption.defaultRows">{{o}}</option>
        </select>
    </div>
</sq-modal>