<h1>Preview</h1>

<div class="row">
    <div class="col-12 mb-4">
        <p>Preview is a custom Angular component based on the Facet one.</p>
        <p>In order to inject some custom template to the facet, the child element has to contain the
            <code>#facet</code> tag, and in its component code it has to extend the <code>AbstractFacet</code> class.
        </p>
        <p>You can simply use Sinequa's <code>sq-facet-preview-2</code> component as described below to display it
            easily.</p>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <sq-facet-card [collapsible]="false" class="d-block mb-3 facet-preview">
                            <doc-sq-preview #facet></doc-sq-preview>
                        </sq-facet-card>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <doc-code [code]="code"></doc-code>
            </div>
        </div>
    </div>
</div>