/****************************************************
   Dark mode
****************************************************/
$grey-100: #d3d3d3;
$grey-200: #c4c4c4;
$grey-300: #bcbcbc;
$grey-400: #a4a4a4;
$grey-500: #9a9a9a;
$grey-600: #6c6c6c;

$dark-color: #f8f9fa;
$dark-secondary: #c9c0c0;
$dark-background: #1c1e21;
$dark-background-highlight: rgb(255, 255, 255, 0.15);
$dark-background-hover: rgb(255, 255, 255, 0.08);
$dark-borders: #777373;
$dark-link: #9bccff;

$dark-focus-bg: #3f4346;
$dark-focus-color: #fbfdff;

$dark-text-muted: #c1cad2;
$dark-nav-link-focus-border-color: #666363;