@import "sinequa-theme";

.dashboard-actions .btn {
    &:focus {
        outline: none;
    }
}

sq-dashboard-add-item .modal-body .btn {
    --bs-btn-color: #{$black} !important;
    --bs-btn-hover-color: #{$black} !important;
    --bs-btn-bg: #{$blue-selection} !important;
    box-shadow: none !important;

    span {
        display: flex;
        flex-direction: column;

        i {
            text-align-last: justify;
        }
    }
}

/**
  Dark mode
  */
.dark {
    sq-dashboard-add-item .modal-body .btn:not(.btn-primary):not(.btn-secondary) {
        color: $dark-secondary !important;
        --bs-btn-bg: #{$dark-background} !important;
        --bs-btn-hover-bg: #{$dark-background-hover} !important;

        &:hover {
            color: $dark-color !important;
        }
    }

    sq-results-selector .btn {
        color: $white;
    }
}