@import "sinequa-theme";

.main {
    margin-top: 6rem !important;
}

sq-feedback-menu button.btn {
    border-radius: inherit !important;
}

.sq-toolbar {
    margin: 0.625rem 0;
}

.list-group {
    --bs-list-group-bg: #{$list-group-bg};
    --bs-list-group-action-active-bg: #{$blue-selection};
}

.navbar.navbar-light.bg-light {
    background-color: var(--brand, #{$white}) !important;
}