.dark {
    .main {
        margin-top: 6rem !important;
    }

    sq-feedback-menu button.btn {
        border-radius: inherit !important;
    }

    .sq-toolbar {
        margin: 0.625rem 0;
    }

    --sq-result-source-color: #{$dark-link};
    --sq-tabs-bg: transparent;

    // Nav
    nav.navbar {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    // Advanced search
    .advanced-search .card-header {
        --bs-card-cap-bg: transparent !important;
        --bs-card-cap-color: #{$white};
    }

    // Buttons
    .btn-light .text-muted {
        color: #6c757d !important;
    }

    .btn-link:hover {
        color: $white !important;
    }

    .modal-content {
        .btn:not(.btn-primary):not(.btn-secondary) {
            color: var(--primary, #{$blue-1}) !important;

            &:hover {
                color: var(--primary-200, #{$blue-hover}) !important;
            }
        }
    }

    // Facet header buttons
    sq-facet-card .card-header .btn-light {
        &:hover {
            background-color: #d3d4d5;
            border-color: #d3d4d5;
            color: $black;
        }

        &.active {
            background-color: #c6c7c8;
            border-color: #babbbc;
            color: $black;
        }
    }

    .sq-view-actions .btn-outline-primary {
        --bs-btn-hover-bg: #{$grey-6} !important;
        --bs-btn-hover-border-color: #{$grey-6} !important;
        --bs-btn-color: #{$white};
        --bs-btn-border-color: #{$grey-6};
        --bs-btn-active-bg: #{$grey-6} !important;
        --bs-btn-active-border-color: #{$grey-6} !important;
    }

    sq-facet-card .card,
    .card {
        --bs-card-cap-color: #{$white};
    }

    // Dropdown
    sq-facet-list,
    sq-facet-tree {
        .list-group-item:not(.list-group-item-primary, .list-group-item-success) {
            a {
                color: $white !important;
            }

            &:hover {
                background-color: $blue-selection;

                a {
                    color: $white !important;
                }
            }

            &:active {
                background-color: $blue-1;

                a {
                    color: $white !important;
                }
            }
        }
    }

    // Preview
    .facet-preview .sq-result-title {
        color: inherit;
    }

    // Tabs
    sq-tabs .nav-tabs {
        .nav-link {
            &:hover {
                background-color: $dark-background-hover;
            }

            &.active {
                background-color: $dark-background-highlight !important;
            }
        }
    }
}