/**
    VARIABLES + BOOTSTRAP'S OVERRIDES
**/

/** sinequa custom variables **/
$sq-transition: all 250ms ease;
$sq-focus-outline: .4rem solid var(--primary-100, #{$blue-focus});

$sq-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, .1);
$sq-btn-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
$sq-input-padding: .8rem;


/** input **/
$input-border-width: .1rem;
$input-border-color: $grey-100;

$sq-border: $input-border-width solid $input-border-color;


$input-focus-border-color: var(--primary, #{$blue});
$input-focus-box-shadow: none;

$input-disabled-color: $grey-600;
$input-disabled-border-color: $grey-500;
$input-disabled-bg: $grey-300;

$input-placeholder-color: $grey-100;

/** input-group **/
$input-group-addon-border-color: transparent;


/** dropdown **/
$dropdown-border-color: $grey-100;
$dropdown-border-width: 1px;

$dropdown-link-color: $black;
$dropdown-link-hover-color: $black;
$dropdown-link-hover-bg: $blue-selection;

$dropdown-link-active-color: $white;

$dropdown-box-shadow: 0 0 .9rem rgba(0, 0, 0, .1);

/** breadcrumbs **/
// @deprecated?
$breadcrumb-divider: ">";
$breadcrumb-item-active-color: $body-text-grey;
$breadcrumb-margin-bottom: 0;


/** link **/
$link-decoration: none;

/** list groups **/
$list-group-action-active-bg: $blue-selection;


/** nab tab **/
$nav-tabs-box-shadow: $sq-box-shadow;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: .3rem;
$nav-tabs-padding: .2rem;

$nav-tabs-link-active-color: var(--sq-text, #{$black});
$nav-tabs-link-active-bg: var(--brand, #{$blue-focus});
$nav-tabs-link-active-box-shadow: 0 0 .4rem rgba(0, 0, 0, .1);

/** nav link **/
$nav-link-padding-y: 0.75rem;
$nav-link-padding-x: 1rem;

$nav-link-font-weight: 600;
$nav-link-color: rgb(0,0,0,0.55);
$nav-link-hover-color: rgb(0,0,0,0.7);

$nav-link-hover-bg: var(--brand-100, #{$blue-focus});
$nav-link-active-hover-bg: var(--brand-200, #{$blue-focus});

/** form check input **/
$form-check-input-checked-bg-color: $grey-500;
$form-check-input-checked-border-color: $grey-500;

$form-check-input-border: $sq-border;
$form-check-input-disabled-opacity: 1;

$form-check-input-outline: $sq-focus-outline;
$form-check-input-hover-border-color: $grey-500;

$form-check-input-valid-border-color: $success-1;
$form-check-input-valid-hover-border-color: $darker-green;
$form-check-input-valid-checked-bg: $success-1;
$form-check-input-valid-checked-hover-bg: $darker-green;

$form-check-input-invalid-border-color: $error-1;
$form-check-input-invalid-hover-border-color: $darker-red;
$form-check-input-invalid-checked-bg: $error-1;
$form-check-input-invalid-checked-hover-bg: $darker-red;

/** checkbox **/
$form-check-input-checkbox-checked-bg: var(--primary, #{$blue-500});
$form-check-input-checkbox-checked-border-color: var(--primary, #{$blue-500});
$form-check-input-checkbox-checked-hover-bg: var(--primary-400, #{$darker-blue});
$form-check-input-checkbox-checked-hover-border-color: var(--primary-400, #{$darker-blue});

$form-check-input-checkbox-disabled-bg: $grey-300;
$form-check-input-checkbox-disabled-border-color: $grey-300;

/** radio **/
$form-check-input-radio-checked-box-shadow: inset 0 0 0 .14rem $white;
$form-check-input-radio-disabled-bg: $grey-300;
$form-check-input-radio-disabled-border-color: $grey-500;

$form-check-input-radio-disabled-checked-bg: $grey-500;
$form-check-input-radio-disabled-checked-box-shadow: inset 0 0 0 .14rem $grey-300;

$form-check-transition: $sq-transition;

/** form label **/
$form-label-font-weight: 600;


/** buttons **/
$btn-padding-x-lg: 1.5rem;
$btn-padding-y-lg: .8rem;
$btn-border-radius-lg: .3rem;

$btn-focus-box-shadow: none;
$btn-box-shadow: $sq-box-shadow;
$btn-transition: $sq-transition;

$btn-link-color: $body-text-grey;
$btn-link-hover-color: $grey-600;

$btn-disabled-opacity:.5;

/** facet buttons **/
$facet-btn-light-bg: transparent;
$facet-btn-light-border-color: transparent;
$facet-btn-light-active-color: white;
$facet-btn-light-active-bg: var(--brand-400, #{$darker-blue});
$facet-btn-light-active-border-color: var(--brand-400, #{$darker-blue});

$facet-item-opener-color: $body-text-grey;
$facet-item-opener-hover-color: $body-text-grey-lighter;


/** card **/
$card-border-width: 0;
$card-box-shadow: $sq-box-shadow;
$card-cap-bg: var(--brand-300, #{$blue-focus});
$card-cap-color: var(--sq-text, #{$body-text-grey});

$card-cap-font-weight: 600;
$card-cap-primary-icon-color: var(--primary, $blue-100);
$card-cap-action-font-size: 1rem;

/** alert **/
$alert-padding-x: 1.5rem;

/** pagination **/
$pagination-font-weight: 600;
$pagination-padding-x: .5rem;
$pagination-padding-y: .1rem;
$pagination-color: $black;
$pagination-bg: transparent;
$pagination-border-color: transparent;
$pagination-border-radius: .35rem;

$pagination-hover-color: $white;
$pagination-hover-bg: $blue-hover;
$pagination-hover-border-color: $blue-hover;

$pagination-active-bg: $blue;
$pagination-active-border-color: $blue;

$pagination-disabled-color: $grey-500;
$pagination-disabled-bg: transparent;


/** list group **/
$list-group-color: $body-text-grey;
$list-group-border-width: 0;

$list-group-active-color: var(--sq-text, #{$black});
$list-group-active-bg: $blue-selection;
$list-group-active-border-color: $blue-selection;

/** alert **/
$alert-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);


// sinequa mixin button-variant
@mixin sq-button-variant(
  $background,
  $border,
  $color,
  $hover-background,
  $hover-border,
  $hover-color,
  $active-background,
  $active-border,
  $active-color,
  $disabled-background,
  $disabled-border,
  $disabled-color
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-bg: #{$background};
  --#{$prefix}btn-border-color: #{$border};
  --#{$prefix}btn-hover-color: #{$hover-color};
  --#{$prefix}btn-hover-bg: #{$hover-background};
  --#{$prefix}btn-hover-border-color: #{$hover-border};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($color, $border, 15%))};
  --#{$prefix}btn-active-color: #{$active-color};
  --#{$prefix}btn-active-bg: #{$active-background};
  --#{$prefix}btn-active-border-color: #{$active-border};
  --#{$prefix}btn-active-shadow: #{$btn-active-box-shadow};
  --#{$prefix}btn-disabled-color: #{$disabled-color};
  --#{$prefix}btn-disabled-bg: #{$disabled-background};
  --#{$prefix}btn-disabled-border-color: #{$disabled-border};
}