/**
VARIABLES
 */
$sq-transition: all 250ms ease;
$sq-focus-outline: .4rem solid var(--primary-100, #{$blue-focus});
$sq-border: .1rem solid $grey-1;
$sq-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
$navbar-height: 5.5rem;
$sq-input-padding: .8rem;