
.result-list {
  overflow-y: auto;
}

// Styling of the result items
.record {

  button {
    display: none;
  }

  &:hover {
    background-color: rgb(0,0,0,0.03);
    .record-header button {
      display: inline-block;
    }
  }

  &.selected {
    background-color: rgb(0,0,0,0.05);
  }

  padding: 0.5rem 1rem;
}

.sq-passage-text {
  font-size: 0.875rem;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;

  &:hover {
    button {
      display: inline-block;
    }
  }
}


.extract-list {
  list-style-type: '- ';
  a {
    display: none;
  }
  li:hover {
    background: rgb(0,0,0,0.05);
    a {
      display: inline;
    }
  }
}
