<div class="container-xl h-100">
  <div class="row flex-nowrap h-100">
    <div class="sq-panel h-100 d-flex flex-column" [ngClass]="{'col-lg-6': showSearchPanel, 'col-lg-8 offset-lg-2': !showSearchPanel}">
      <div class="d-flex p-3 sticky-top">
        <i class="sq-chatgpt"></i>
        <h3 class="ms-3 mb-0">ChatGPT</h3>

        <ng-container *ngIf="!showSearchPanel">
          <i class="fas fa-plus mx-3 text-muted align-self-center"></i>

          <a role="button" sqTooltip="Show the Search UI" (click)="showSearchPanel = true">
            <img id="logo" alt="sinequa logo">
          </a>
        </ng-container>

        <ul class="nav nav-pills ms-auto">
          <li class="nav-item">
            <a class="nav-link py-2" role="button" [ngClass]="{active: settingsView}" (click)="toggleChatSettings()">Settings</a>
          </li>
          <li class="nav-item" *ngIf="loginService.complete && (savedChatView || chatService.savedChats.length)">
            <a class="nav-link py-2" role="button" [ngClass]="{active: savedChatView}" (click)="toggleSavedChats()">Saved chats</a>
          </li>
        </ul>

        <div class="btn-group" *ngIf="!settingsView && !savedChatView && showChatActions">
          <button class="ms-2 btn btn-primary" [sqTooltip]="'Reset the chat session'"
            (click)="resetChat()">
            <i class="fas fa-sync"></i>
          </button>
          <button class="btn btn-primary" [sqTooltip]="'Save all the current chat'"
            (click)="saveChat()">
            <i class="fas fa-save"></i>
          </button>
        </div>

      </div>

      <sq-chat #sqChat *ngIf="!settingsView && !savedChatView && loginService.complete"
        class="card h-100 shadow-lg rounded-4 flex-grow-1 mb-3 overflow-hidden"
        [chat]="chat"

        [model]="chatConfig.model"
        [temperature]="chatConfig.temperature"
        [topP]="chatConfig.topP"
        [maxTokens]="chatConfig.maxTokens"
        [googleContextPrompt]="chatConfig.googleContextPrompt"
        [stream]="chatConfig.stream"

        [searchMode]="true"
        [textBeforeAttachments]="chatConfig.textBeforeAttachments"
        [displayAttachments]="chatConfig.displayAttachments"

        [initialSystemPrompt]="chatConfig.initialSystemPrompt"
        [initialUserPrompt]="chatConfig.initialUserPrompt"
        [addAttachmentPrompt]="chatConfig.addAttachmentPrompt"
        [addAttachmentsPrompt]="chatConfig.addAttachmentsPrompt"
        [attachmentsHiddenPrompt]="chatConfig.attachmentsHiddenPrompt"

        [minScoreTopPassage]="chatConfig.minScoreTopPassage"
        [maxTopPassages]="chatConfig.maxTopPassages"
        [maxDocuments]="chatConfig.maxDocuments"
        [minDocumentRelevance]="chatConfig.minDocumentRelevance"
        [maxExtractsPerDocument]="chatConfig.maxExtractsPerDocument"
        [maxPassagesPerDocument]="chatConfig.maxPassagesPerDocument"
        [startLengthPerDocument]="chatConfig.startLengthPerDocument"
        [extendBefore]="chatConfig.extendBefore"
        [extendAfter]="chatConfig.extendAfter"

        (data)="onChatData($event)">
      </sq-chat>

      <sq-chat-settings *ngIf="settingsView && loginService.complete"
        class="card shadow-lg rounded-4 mb-3 overflow-auto"
        [config]="chatConfig">
      </sq-chat-settings>

      <sq-saved-chats *ngIf="savedChatView && loginService.complete"
        class="card shadow-lg rounded-4 mb-3 overflow-auto"
        (load)="openChat($event)">
      </sq-saved-chats>
    </div>

    <div class="sq-panel col-lg-6 h-100 d-flex flex-column position-relative" *ngIf="showSearchPanel">
      <div class="d-flex p-3 sticky-top">

        <a role="button" sqTooltip="Hide the Search UI" (click)="showSearchPanel = false">
          <img id="logo" alt="sinequa logo">
        </a>

        <app-search-form
          class="flex-grow-1 mx-3"
          [autocompleteSources]="features">
        </app-search-form>

        <ul class="navbar-nav">
          <sq-user-menu [display]="'fullName'"></sq-user-menu>
        </ul>

      </div>

      <!-- Loading bar (Manages its own state and visibility via the search service) -->
      <div class="position-relative px-3">
        <sq-loading-bar></sq-loading-bar>
      </div>

      <!-- Toolbar -->
      <div class="small pt-2 px-3" *ngIf="searchService.query.filters">
        <a href="#" (click)="editFilters()" sqTooltip="Click to edit Filters">
          Filters:
          <sq-filters
            [query]="searchService.query"
            [filter]="searchService.query.filters"
            [showField]="false"
            [allowRemove]="false">
          </sq-filters>
        </a>
      </div>

      <div class="d-flex align-items-center small pt-2 px-3" *ngIf="results$ | async as results">
        <ng-container *ngIf="view === 'documents'">
          <button class="btn btn-link btn-sm ps-0" (click)="view = 'passages'" *ngIf="neuralSearchEnabled" sqTooltip="Switch to the <b>snippets</b> view">
            Documents
          </button>
          <sq-results-counter [rowCount]="searchService.rowCount" class="mx-2"></sq-results-counter>
          <sq-sort-selector [results]="results" [rightAligned]="true" [style]="(ui.isDarkTheme$ |async)? 'dark' : 'light'" class="ms-auto"></sq-sort-selector>
        </ng-container>

        <ng-container *ngIf="view === 'passages'">
          <button class="btn btn-link btn-sm me-2 ps-0" (click)="view = 'documents'" sqTooltip="Switch to the <b>documents</b> view">
            Snippets
          </button>
          <ng-container *ngIf="passages$ | async as passages; else spinnerTpl">
            <span class="sq-passage-count mx-2">
              {{ 'msg#machine-learning.passagesFound' | sqMessage:{passagesNb: passages.length,documentsNb: documentsNb} }}
            </span>
            <button class="btn btn-primary btn-sm ms-auto" (click)="attachAll(passages)">
              <i class="fas fa-paperclip"></i>
              Attach all
            </button>
          </ng-container>
          <ng-template #spinnerTpl>
            loading...
          </ng-template>
        </ng-container>
      </div>

      <div *ngIf="results$ | async as results" class="result-list shadow-lg rounded-4 my-3" [ngSwitch]="view">

        <ng-container *ngSwitchCase="'documents'">
          <!-- Did you mean -->
          <sq-did-you-mean [results]="results"></sq-did-you-mean>

          <!-- Sponsored links -->
          <sq-sponsored-results [query]="searchService.query"></sq-sponsored-results>

          <!-- List of documents (for loop) -->
          <div *ngFor="let record of results.records; index as i"
            class="record"
            role="button"
            [ngClass]="{'selected': record.$selected || record.$opened}"
            (click)="openPreview(record)">

            <div class="record-header d-flex align-items-center">
              <sq-result-title [record]="record" class="d-block py-1"></sq-result-title>
              <button *ngIf="!record.$selected"
                class="btn btn-sm btn-primary ms-auto text-nowrap"
                (click)="attachDocument(record, $event)">
                <i class="fas fa-fw fa-paperclip"></i> Attach document
              </button>
            </div>
            <sq-result-source [record]="record" [displayTreepath]="true"></sq-result-source>

            <div class="sq-passage-text position-relative" *ngIf="record.matchingpassages?.passages?.[0] as passage; else extractsTpl">
              <button class="btn btn-sm btn-primary position-absolute top-0 end-0" (click)="attachMatchingPassage(passage, $event, record)">
                <i class="fas fa-fw fa-paperclip"></i> Attach snippet
              </button>
              <span *ngIf="record.modified" class="extracts-date">
                {{record.modified | sqDate:{ year: 'numeric', month: 'short', day: 'numeric' } }} -
              </span>
              <span [innerHTML]="passage.highlightedText"></span>
            </div>

            <ng-template #extractsTpl>
              <ul *ngIf="record.extracts" class="extract-list small ps-2 mb-0">
                <li *ngFor="let extract of record.extracts | slice:0:4" class="px-2 rounded" role="button" (click)="attachExtract(record, extract, $event)">
                  <div class="d-flex">
                    <span class="text-truncate" [innerHTML]="extract.highlighted"></span>
                    <a class="ms-auto text-nowrap">
                      <i class="fas fa-fw fa-paperclip"></i> Attach extract
                    </a>
                  </div>
                </li>
              </ul>
            </ng-template>


            <sq-result-missing-terms [record]="record"></sq-result-missing-terms>
            <sq-labels [record]="record" [public]="true"></sq-labels>
            <sq-labels [record]="record" [public]="false"></sq-labels>
          </div>

          <!-- Infinite scroll -->
          <sq-scroller></sq-scroller>
        </ng-container>

        <ng-container *ngSwitchCase="'passages'">
          <div class="spinner-grow text-success d-block mx-auto my-5" role="status" *ngIf="loading">
            <span class="visually-hidden">Loading...</span>
          </div>

          <div *ngFor="let passage of passages$ | async as passages"
            role="button"
            (click)="openPreview(passage.$record)"
            class="record passage">

            <div class="record-header d-flex align-items-center" *ngIf="passage.$record">
              From: <sq-result-title [record]="passage.$record" class="d-block ms-2 py-1"></sq-result-title>
              <button class="btn btn-sm btn-primary ms-auto text-nowrap" (click)="attachPassage(passage, $event)">
                <i class="fas fa-fw fa-paperclip"></i> Attach snippet
              </button>
            </div>

            <div class="sq-passage-text mb-2">
              <span *ngIf="passage.$record?.modified" class="extracts-date">
                {{passage.$record.modified | sqDate:{ year: 'numeric', month: 'short', day: 'numeric' } }} -
              </span>
              <span [innerHTML]="passage.highlightedText"></span>
            </div>
          </div>
        </ng-container>

      </div>

      <!-- With selected document -->
      <sq-facet-card *ngIf="openedDoc"
        [collapsible]="false"
        [facetActionsAreSecondary]="true"
        [viewActionsAreSecondary]="true"
        secondaryActionsClass="position-absolute end-0 btn-group-vertical mt-4 me-3 bg-{{(ui.isDarkTheme$ |async)? 'dark' : 'light'}} rounded shadow on-hover"
        viewActionsClass="d-block btn-group mt-2"
        viewButtonsStyle="outline-primary"
        [actions]="previewCustomActions"
        actionsSize=""
        class="facet-preview position-absolute end-0 start-0">

        <ng-template #headerTpl>
          <sq-result-icon [record]="openedDoc" class="me-1"></sq-result-icon>
          <sq-result-title class="flex-grow-1" [record]="openedDoc" field="title" titleLinkBehavior="open-if-url">
          </sq-result-title>
        </ng-template>

        <ng-template #subHeaderTpl>
          <sq-metadata
              [record]="openedDoc"
              [config]="metadata"
              [query]="searchService.query"
          ></sq-metadata>
        </ng-template>

        <ng-template [sqFacetView]="{text: 'msg#facet.preview.viewPreview'}">
          <sq-preview #facet
            style="height: 100%;"
            [id]="openedDoc.id"
            [query]="searchService.query"
            [highlightColors]="previewHighlights"
            [highlightEntities]="true"
            [preferenceName]="'mini-preview'"
            [scale]="0.8">
          </sq-preview>
        </ng-template>
      </sq-facet-card>
    </div>

  </div>
</div>
