span.matchlocations {
    font-weight: bold;
}

.sq-result-title {
    color: $brand-500;
    font-weight: 600;
}

.card-header {
    .sq-result-title {
        color: $white;
    }
}

sq-result-source :where(a, span) {
    font-size: .875rem;
    color: $brand-500;
}
