span.matchlocations {
    font-weight: bold;
}

.sq-result-title {
    color: $blue;
    font-weight: 600;
}

sq-result-source :where(a, span) {
    font-size: .875rem;
    color: $blue;
}
